.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.auth.login { padding: 80px 16px; }
.auth.signup { padding: 24px 16px; }

.auth-logo > img {
  width: 198px;
  height: 66px;
}

.auth-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form label {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--gray800);
  margin-bottom: 8px;
}

.auth-form .auth-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--gray100);
  border-radius: 12px;
  padding: 15px 24px;
}

.auth-input:focus-within { outline: 1px solid var(--blue); }

.auth-input > input {
  background-color: var(--gray100);
  width: 100%;
  height: 26px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.auth-input > input::placeholder { color: var(--gray400); }
.auth-input > input:focus { outline: none; }

.auth-input > .btn-eye {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.auth-input > .btn-eye.show {
  content: url('../images/btn_show.svg');
}

.auth-form > button {
  background-color: var(--gray400);
  padding: 12px 145px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--gray100);
  cursor: pointer;
  margin-bottom: 8px;
}

.auth-form > button.active {
  background-color: var(--blue);
}

.auth-form > .other-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6F2FF; 
  padding: 16px 23px;
  gap: 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: var(--gary800);
  margin-bottom: 8px;
}

.other-account > .icon-container {
  display: flex;
  gap: 16px;
}

.other-account img {
  width: 42px;
  height: 42px;
}

.auth-form > .auth-link {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  color: var(--gary800);
}

.auth-link > a {
  color: var(--blue);
  text-decoration: underline;
}

.validation-focus {
  outline: 1px solid var(--red);
}

.validation-message {
  display: none;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--red);
  padding-left: 16px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .auth { gap: 40px; }
  .auth.login { padding-top: 190px; }
  .auth.signup { padding-top: 48px; }

  .auth-logo > img {
    width: 396px;
    height: 132px;
  }
  
  .auth-form {
    max-width: 100%;
    width: 640px;
    gap: 24px;
  }

  .auth-form label {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 16px; 
  }

  .auth-form .auth-input { padding: 16px 24px; }

  .auth-form > button { 
    padding: 16px 124px;
    margin-bottom: 0; 
  }

  .auth-form > .other-account { margin-bottom: 0; }
}
