main {
  width: 64rem;
  margin: 23.1rem auto;
}

.signup__header,
.login__header {
  text-align: center;
  margin-bottom: 4rem;
}

.signup__label,
.login__label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: block;
  color: var(--Gray-800);
}

.signup__input,
.login__input {
  width: 100%;
  height: 100%;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  color: var(--Gray-800);
  background-color: var(--Gray-100);
  border: none;
  border-radius: 1.2rem;
}

.signup__input::placeholder,
.login__input::placeholder {
  color: var(--Gray-400);
}

.signup__input:focus,
.login__input:focus {
  outline: 1px solid #3692ff;
}

.signup__field,
.login__field--password {
  height: 5.6rem;
  margin-bottom: 2.6rem;
}

.signup__field--password,
.login__field--password {
  position: relative;
}

.signup__password-toggle-icon--active,
.login__password-toggle-icon--active {
  display: none;
}

.signup__field--password button,
.login__field--password button {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
}

.signup__submit,
.login__submit {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 0;
  border: none;
  border-radius: 4rem;
  background-color: var(--Gray-400);
  color: var(--Gray-100);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signup__submit:hover,
.login__submit:hover {
  background-color: var(--Primary-100);
}

.login__submit {
  margin-top: 2.4rem;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
  margin: 2.4rem 0;
  background-color: #e6f2ff;
  border-radius: 0.8rem;
  color: var(--Gray-800);
}

.social-login__header {
  font-size: 1.6rem;
  font-weight: 500;
}

.social-login ul {
  display: flex;
  gap: 1.6rem;
}

.social-button {
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-button--kakao {
  background-color: #f5e14b;
}

.social-button--google {
  background-color: #fff;
}

.login-link,
.signup-link {
  text-align: center;
}

.login-link__text,
.signup-link__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--Gray-800);
}

.login-link__text a,
.signup-link__text a {
  margin-left: 0.4rem;
  color: var(--Primary-100);
  border-bottom: 1px solid var(--Primary-100);
}

/* 로그인 영역만 해당부분 */
.login__field--id {
  margin-bottom: 2.4rem;
}

.login__input {
  height: 5.6rem;
}

.login__input.error {
  border: 1px solid var(--Error-red);
}

.login__error-message {
  color: var(--Error-red);
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.8rem;
  display: block;
  position: relative;
  left: 1.6rem;
}

/* Tablet: 768px ~ 1199px 이하 */
@media (min-width: 768px) and (max-width: 1199px) {
  main {
    width: auto;
    margin: 19rem 5.2rem 32.5rem;
  }
}

/* Mobile: 375px ~ 767px 이하 */
@media (min-width: 375px) and (max-width: 767.99px) {
  main {
    width: 100%;
    max-width: calc(100% - 3.2rem);
    margin: 8rem 1.6rem 23.1rem;
  }

  .login__header img,
  .signup__header img {
    max-width: 19.7rem;
    height: auto;
  }
}
