@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('fonts.css');

:root {
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;
  --Gray-50: #f9fafb;
  --Gray-100: #f3f4f6;
  --Gray-200: #e5e7eb;
  --Gray-400: #9ca3af;
  --Gray-500: #6b7280;
  --Gray-600: #4b5563;
  --Gray-700: #374151;
  --Gray-800: #1f2937;
  --Gray-900: #111827;
  --Error-red: #f74747;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard', sans-serif;
  word-break: keep-all;
}

a {
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
