:root {
  --Primary-300: #1251aa;
  --Primary-200: #1967d6;
  --Primary-100: #3692ff;
  --main-bg-color: #cfe5ff;
  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Secondary-100: #f3f4f6;
  --Secondary-50: #f9fafb;
  --error-red: #f74747;
  --size-max-width: 1200px;
}

@font-face {
  font-family: 'ROKAF Sans'; /* 폰트 이름 정의 */
  src: url('../fonts/ROKAF_Sans_Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
  background-color: var(--Secondary-900);
  width: 100%;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  body {
    height: 100%;
  }
}
