.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.header-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  background-color: var(--Primary-100);
  color: var(--Secondary-100);
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  width: 128px;
  height: 48px;
}

.index__main {
  width: 100%;
}

.hero {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.hero-container {
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 100px;
}

.hero-content__title {
  font-weight: 700;
  font-size: 40px;
}

.hero__image {
  height: 340px;
}

.hot-item,
.register {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.hot-item-container,
.register-container {
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin: 100px 0 100px -150px;
  gap: 64px;
  background: #fcfcfc;
}

.hot-item-content,
.register-content {
  display: flex;
  flex-direction: column;
}

.hot-item-content__span,
.register-content__span {
  color: var(--Primary-100, #3692ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.content-description {
  color: var(--Secondary-700, #374151);
  font-size: 24px;
  font-weight: 500;
}

.hot-item-content__title,
.register-content__title {
  color: var(--Secondary-700, #374151);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.search {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40px;
  margin: 100px -150px 100px 0;
  gap: 64px;
  background: #fcfcfc;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 24px;
}

.search-content__span {
  color: var(--Primary-100, #3692ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.search-content__title {
  color: var(--Secondary-700, #374151);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
}

.bottom {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.bottom-container {
  height: 540px;
  display: flex;
  align-items: flex-end;
  gap: 69px;
}

.bottom-content {
  margin-bottom: 170px;
}

.bottom-content__title {
  color: var(--Secondary-700, #374151);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.footer-container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.copyright {
  color: #9ca3af;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-mid__link {
  color: #e5e7eb;
}

.footer-social {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1199px) {
  .hot-item-container,
  .register-container {
    padding: 0;
    margin: 0;
  }

  .search-container {
    padding: 0;
    margin: 0;
  }
}
