.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.header-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-login {
  background-color: var(--Primary-100);
  color: var(--Secondary-100);
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  width: 128px;
  height: 48px;
}

.index__main {
  margin-top: 70px;
  width: 100%;
}

.hero {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.hero-container {
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 100px;
}

.hero__image {
  height: 340px;
}

.btn-items {
  width: 357px;
  height: 56px;
  padding: 16px 124px 16px 124px;
  border-radius: 40px;
  color: var(--Secondary-50);
  background-color: var(--Primary-100);
  font-size: 20px;
  font-weight: 600;
}

.hot-item,
.register {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.hot-item-container,
.register-container {
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin: 100px 0 100px -150px;
  gap: 64px;
  background-color: #fcfcfc;
}

.hot-item-content,
.register-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hot-item-content__span,
.register-content__span {
  color: var(--Primary-100, #3692ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.content-title {
  color: var(--Secondary-700, #374151);
  font-size: 40px;
  font-weight: 700;
}

.content-description {
  color: var(--Secondary-700, #374151);
  font-size: 24px;
  font-weight: 500;
}

.search {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40px;
  margin: 100px -150px 100px 0;
  gap: 64px;
  background-color: #fcfcfc;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 24px;
}

.search-content__span {
  color: var(--Primary-100, #3692ff);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.bottom {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.bottom-container {
  height: 540px;
  display: flex;
  align-items: flex-end;
  gap: 69px;
}

.bottom-content {
  margin-bottom: 170px;
}

.footer-container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.copyright {
  color: #9ca3af;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-mid__link {
  color: #e5e7eb;
}

.footer-social {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 1199px) {
  .index__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  .header-container {
    padding: 0 24px;
  }

  .hero {
    height: 771px;
  }

  .hero-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .hero__image {
    width: 100%;
  }

  .hero-content {
    margin-top: 5rem;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  .hero-content .content-br {
    display: none;
  }

  .hot-item-container,
  .register-container {
    padding: 0;
    margin: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .search-container {
    padding: 0;
    margin: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
  }

  .search-content {
    order: 1;
  }

  .content-br {
    display: none;
  }

  .content-title {
    font-size: 32px;
  }

  .content-description {
    font-size: 18px;
  }

  .bottom {
    height: 927px;
  }

  .bottom-container {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .bottom-content {
    text-align: center;
  }
}
