.login__main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 640px;
}

.login-logo {
  text-align: center;
  margin-bottom: 40px;
}

.form-container {
  width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  font-weight: 700;
}

.form-input {
  width: 100%;
  color: var(--Secondary-800, #1f2937);
  padding: 16px 24px;
  border-radius: 12px;
  background: var(--Secondary-100, #f3f4f6);
}

.input-validation-error {
  color: var(--error-red);
  font-size: 14px;
  font-weight: 600;
  padding-left: 16px;
}

.form-input:focus {
  border: 1px solid var(--Primary-100);
}

.form-input.error {
  border: 1px solid var(--error-red);
}

input::placeholder {
  color: var(--Secondary-400, #9ca3af);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.password-container {
  position: relative;
}

.visible-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.btn-login {
  width: 100%;
  padding: 16px 124px;
  border-radius: 40px;
  background: var(--Primary-100, #3692ff);
  color: var(--Secondary-100, #f3f4f6);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.btn-login:disabled {
  cursor: default;
  background: var(--Secondary-400, #9ca3af);
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  border-radius: 8px;
  background: #e6f2ff;
  padding: 16px 23px;
}

.social-login-description {
  color: var(--Secondary-800, #1f2937);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.social-login-icons {
  display: flex;
  gap: 16px;
}

.signup-container {
  text-align: center;
}

.signup-description {
  color: var(--Secondary-800, #1f2937);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 4px;
}

.signup-link {
  color: var(--Primary-100, #3692ff);
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
}

@media screen and (max-width: 767px) {
  .login-container {
    width: 350px;
  }

  .login-logo-img {
    width: 300px;
  }

  .login__main {
    margin: 40px auto;
  }
}
