.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.95rem 20rem;
  border-bottom: 0.1rem solid #dfdfdf;
}

@media screen and (min-width: 1920px) {
  .nav-header {
    padding: 0.95rem 40rem;
  }
}

.nav-header > .header-logo {
  background-image: url(../images/panda_logo.png);
  width: 15.3rem;
  height: 5.1rem;
}

.nav-header > .login {
  background-color: var(--blue);
  border-radius: 0.8rem;
  padding: 1.1rem 4.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: var(--gray100)
}

.banner {
  width: 100%;
  height: 54rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #CFE5FF;
}

.banner-container { display: flex; }
.banner-container-top { gap: 0.7rem; }
.banner-container-bottom { gap: 6.9rem; }

.banner-container > .intro {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-bottom: 6rem;
}

.banner-container > .intro-top { margin: 4rem 0; }
.banner-container > .intro-bottom { margin: 11.25rem 0; }

.banner-container > .intro > h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
}

.banner-container > .intro > a {
  background-color: var(--blue);
  border-radius: 4rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: var(--gray50);
  padding: 1.2rem 12.4rem;
  cursor: pointer;
}

.banner-top-img {
  background-image: url(../images/Img_home_top.png);
  width: 74.6rem;
  height: 34rem;
}

.banner-bottom-img {
  background-image: url(../images/Img_home_bottom.png);
  width: 74.6rem;
  height: 39.7rem;
}

.card { height: 72rem; }

.card-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 32rem;
}

.card-right { justify-content: flex-start; }
.card-left { justify-content: flex-end; }

.card-content {
  display: flex;
  gap: 6.4rem;
  background-color: #FCFCFC;
}

.card-img {
  width: 58.8rem;
  height: 44.4rem;
  border-radius: 1.2rem;
}

.card-img1 { background-image: url(../images/Img_home_01.png); }
.card-img2 { background-image: url(../images/Img_home_02.png); }
.card-img3 { background-image: url(../images/Img_home_03.png); }

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.card-info > span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--blue);
}

.card-info > h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  color: var(--gray700);
}

.card-info > p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  color: var(--gray700);
}

.card-info > span,
.card-info > h1,
.card-info > p {
  white-space: nowrap;
}

.card-left span,
.card-left h1,
.card-left p {
  text-align: right;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 16rem;
  background-color: #111827;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3.2rem 40rem;
}

.footer-info { color: var(--gray400); }

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-links > a { color: var(--gray200); }

.footer-social {
  display: flex;
  gap: 1.2rem;
}

.footer-social > a > img {
  width: 2rem;
  height: 2rem;
}
