@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }
body { font-family: Pretendard Variable, Pretendard, sans-serif; }

.img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 200px;
  border-bottom: 1px solid #dfdfdf;
}

@media screen and (min-width: 1920px) {
  .nav-header {
    padding: 9.5px 400px;
  }
}

.nav-header > .header-logo {
  background-image: url(../images/panda_logo.png);
  width: 153px;
  height: 51px;
}

.nav-header > .login {
  background-color: var(--blue);
  border-radius: 8px;
  padding: 11px 43px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--gray100)
}

.banner {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #CFE5FF;
}

.banner-container { display: flex; }
.banner-container-top { gap: 7px; }
.banner-container-bottom { gap: 69px; }

.banner-container > .intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 60px;
}

.banner-container > .intro-top { margin: 40px 0; }
.banner-container > .intro-bottom { margin: 112.5px 0; }

.banner-container > .intro > h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.banner-container > .intro > a {
  background-color: var(--blue);
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--gray50);
  padding: 12px 124px;
  cursor: pointer;
}

.banner-top-img {
  background-image: url(../images/Img_home_top.png);
  width: 746px;
  height: 340px;
}

.banner-bottom-img {
  background-image: url(../images/Img_home_bottom.png);
  width: 746px;
  height: 397px;
}

.card { height: 720px; }

.card-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 320px;
}

.card-right { justify-content: flex-start; }
.card-left { justify-content: flex-end; }

.card-content {
  display: flex;
  gap: 64px;
  background-color: #FCFCFC;
}

.card-img {
  width: 588px;
  height: 444px;
  border-radius: 12px;
}

.card-img1 { background-image: url(../images/Img_home_01.png); }
.card-img2 { background-image: url(../images/Img_home_02.png); }
.card-img3 { background-image: url(../images/Img_home_03.png); }

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.card-info > span {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--blue);
}

.card-info > h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: var(--gray700);
}

.card-info > p {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray700);
}

.card-info > span,
.card-info > h1,
.card-info > p {
  white-space: nowrap;
}

.card-left span,
.card-left h1,
.card-left p {
  text-align: right;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 160px;
  background-color: #111827;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  padding: 32px 400px;
}

.footer-info { color: var(--gray400); }

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links > a { color: var(--gray200); }

.footer-social {
  display: flex;
  gap: 12px;
}

.footer-social > a > img {
  width: 20px;
  height: 20px;
}
