header {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__inner {
  display: flex;
  width: 100%;
  padding: 0.9rem 20rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  content: url('../assets/images/logo-sm.png');
}

/* 기본 버튼 */
.btn__small {
  width: 12.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.3rem;
  background-color: var(--Primary-100);
  border-radius: 0.8rem;
  color: var(--Gray-100);
  font-weight: 600;
  font-size: 1.6rem;
}

.btn__large {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 12.4rem;
  background-color: var(--Primary-100);
  border-radius: 4rem;
  color: var(--Gray-100);
  font-weight: 600;
  font-size: 2rem;
}

.section-2__card--wrapper,
.section-4__card--wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.section-3__card--wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.main__background {
  height: 54rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 20rem;
}

.main__background--footer {
  margin-top: 13.8rem;
  background-color: #cfe5ff;
}

.main__background--footer > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 20rem;
}

.main__background--footer h3 {
  margin: 25.55rem 0 17.25rem;
  font-size: 4rem;
  line-height: 5.6rem;
  white-space: nowrap;
}

.main__background img,
.main__background--footer > div img {
  display: block;
  width: 100%;
}

.main__background--text {
  margin-bottom: 4rem;
}

.main__background--text .btn__large {
  margin: 3.2rem 0 6rem;
  height: 56px;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Gray-700);
  line-height: 5.6rem;
}

main section {
  background-color: #fff;
}

main section:last-child {
  padding-top: 1px;
  background-color: #fcfcfc;
}

main section:first-child {
  background-color: #cfe5ff;
}

.section__card {
  display: flex;
  align-items: center;
  gap: 3.4rem;
  background-color: #fcfcfc;
}

section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4) {
  padding: 13.8rem 20rem;
}

section:nth-of-type(2) .section__card,
section:nth-of-type(4) .section__card {
  width: 98.7rem;
}

section:nth-of-type(3) .section__card {
  width: 96.9rem;
  text-align: right;
}


.section__card--text {
  width: 42.6rem;
}

.section__card--text span {
  color: var(--Primary-100);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
}

.section__card--text h3,
.main__background h3 {
  color: var(--Gray-700);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 5.6rem;
}

.section__card--text h3 {
  margin: 1.2rem 0 2.4rem;
}

.section__card--text p {
  color: var(--Gray-700);
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
}

footer {
  background-color: var(--Gray-900);
  height: 16rem;
  padding: 3.2rem 20rem;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text--copyright {
  color: var(--Gray-400);
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__nav {
  display: flex;
  gap: 3rem;
}

.footer__nav-item a {
  color: var(--Gray-200);
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__social-icons {
  display: flex;
  gap: 1.2rem;
}


/* PC: 1200px 이상 */
@media (min-width: 1200px) {
  .header__inner {
    padding: 0.9rem 20rem;
  }

  .section__card--img {
    width: 60%;
    position: relative;
  }

  .section__card--img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 대형 PC: 1920px 이상 */
@media screen and (min-width: 1920px) {
  .header__inner {
    padding: 0 40rem;
  }

  .main__background {
    margin: 0 40rem;
  }

  section:nth-of-type(2),
  section:nth-of-type(3),
  section:nth-of-type(4) {
    padding: 13.8rem 40rem;
  }

  .main__background--footer > div {
    margin: 0 40rem;
  }

  .section__card {
    gap: 6.4rem;
  }

  footer {
    padding: 3.2rem 40rem;
  }
}

/* Tablet: 769px ~ 1199px 이하 */
@media (min-width: 768px) and (max-width: 1199px) {
  .header__inner {
    padding: 1rem 2.4rem;
  }

  .main__background {
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .main__background--text h2 > br {
    display: none;
  }

  .main__background--text {
    margin: 0 auto;
    min-width: 51.2rem;
    padding-top: 8.4rem;
  }

  .btn__large {
    padding: 1.6rem 12.4rem;
  }

  .main__background--text .btn__large {
    width: 35.7rem;
    margin: 2.4rem auto 21.1rem;
  }

  .section__card {
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 2.4rem;
  }

  section:nth-of-type(2) {
    padding: 2.4rem 2.4rem 0;
  }

  section:nth-of-type(3) {
    margin: 5.2rem 0;
    padding: 0 2.4rem 0;
  }

  section:nth-of-type(4) {
    padding: 0 2.4rem 0;
  }

  section:nth-of-type(2) .section__card,
  section:nth-of-type(4) .section__card {
    align-items: flex-start;
    width: 100%;
  }

  section:nth-of-type(3) .section__card {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .section__card--img {
    width: 100%;
  }

  .section__card--img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__card--text h3 br {
    display: none;
  }

  .main__background--footer {
    width: 100%;
  }

  .main__background--footer > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20rem;
  }

  .main__background--footer h3 {
    margin: 20.1rem 0 21.7rem;
  }

  footer {
    padding: 3.2rem 10.4rem 6.4rem;
  }
}

/* Mobile: 375px ~ 767px 이하 */
@media (min-width: 375px) and (max-width: 767px) {
  .header__inner {
    padding: 1rem 1.6rem;
  }

  .logo {
    content: url('../assets/images/logo-xs.png');
  }

  h2 {
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  .btn__large {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .main__background {
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .main__background--text {
    margin: 0 auto;
    min-width: 24rem;
    text-align: center;
    padding-top: 4.8rem;
  }

  .main__background--text .btn__large {
    width: 24rem;
    height: 4.8rem;
    padding: 1.2rem 7.1rem;
    margin: 1.8rem auto 13.2rem;
  }

  .section__card--text span {
    font-size: 1.6rem;
  }

  .section__card--text h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0.8rem 0 1.6rem;
    letter-spacing: normal;
  }

  .section__card {
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 2.4rem;
  }

  .section__card--text p {
    line-height: 2.6rem;
    font-size: 1.6rem;
  }

  section:nth-of-type(2),
  section:nth-of-type(3),
  section:nth-of-type(4) {
    padding: 0 1.5rem 0;
  }

  section:nth-of-type(2) {
    padding-top: 5.2rem;
  }

  section:nth-of-type(3) {
    margin: 4rem 0;
  }

  section:nth-of-type(2) .section__card,
  section:nth-of-type(4) .section__card {
    align-items: flex-start;
    width: 100%;
  }

  section:nth-of-type(3) .section__card {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
  }

  .section__card--img {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .section__card--img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__card--text h3 br {
    display: none;
  }

  section:nth-of-type(4) .section__card--text > span {
    text-transform: lowercase;
  }

  .main__background--footer > div {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main__background--footer h3 {
    margin: 12.1rem 0 13.1rem;
    font-size: 3.2rem;
    line-height: 4.4rem;
  }

  footer {
    padding: 3.2rem;
    height: auto;
  }

  .footer__inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main__background--footer {
    margin-top: 8.3rem;
  }

  .footer__nav {
    order: 1;
    gap: 3rem;
    flex-basis: 50%;
  }

  .footer__social-icons {
    order: 2;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  .footer__text--copyright {
    margin-top: 6rem;
    text-align: center;
    order: 3;
  }
}
