main {
  width: 64rem;
  margin: 23.1rem auto;
}

.signup__header {
  text-align: center;
  margin-bottom: 4rem;
}

.signup__label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: block;
  color: var(--Gray-800);
}

.signup__input {
  width: 100%;
  height: 100%;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  color: var(--Gray-800);
  background-color: var(--Gray-100);
  border: none;
  border-radius: 1.2rem;
}

.signup__input::placeholder {
  color: var(--Gray-400);
}

.signup__input:focus {
  outline: 1px solid #3692ff;
}

.signup__field {
  height: 5.6rem;
  margin-bottom: 2.4rem;
}

.signup__field--password {
  position: relative;
}

.signup__field--password button {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(-50%);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
}

.signup__password-toggle-icon--active {
  display: none;
}

.signup__submit {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 0;
  border: none;
  border-radius: 4rem;
  background-color: var(--Gray-400);
  color: var(--Gray-100);
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signup__submit:hover {
  background-color: var(--Primary-100);
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.3rem;
  margin: 2.4rem 0;
  background-color: #e6f2ff;
  border-radius: 0.8rem;
  color: var(--Gray-800);
  cursor: pointer;
}

.social-login__header {
  font-size: 1.6rem;
  font-weight: 500;
}

.social-login ul {
  display: flex;
  gap: 1.6rem;
}

.social-button {
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-button--kakao {
  background-color: #f5e14b;
}

.social-button--google {
  background-color: #fff;
}

.login-link {
  text-align: center;
}

.login-link__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--Gray-800);
}

.login-link__text a {
  margin-left: 0.4rem;
  color: var(--Primary-100);
  border-bottom: 1px solid var(--Primary-100);
}
