@import "variables.css";

/* components */
@import "components/header.css";
@import "components/footer.css";

/* screens */
@import "screens/landing.css";
@import "screens/auth.css";

/* responsive */
@import "responsive/header-res.css";
@import "responsive/footer-res.css";
@import "responsive/landing-res.css";
@import "responsive/auth-res.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Pretendard;
  font-style: normal;
}
