@import "variables.css";

/* components */
@import "components/header.css";
@import "components/footer.css";

/* screens */
@import "screens/landing-page.css";
@import "screens/login.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Pretendard;
  font-style: normal;
}

@media (min-width: 1920px) {
  .header__wrap {
    padding: 9px 400px;
  }
}
