:root {
  /* Primary color */
  --Primary-300: #1251aa;
  --Primary-200: #1967d6;
  --Primary-100: #3692ff;

  /* Secondary color */
  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374151;
  --Secondary-600: #4b5563;
  --Secondary-500: #6b7280;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Secondary-100: #f3f4f6;
  --Secondary-50: #f9fafb;

  /* Error color */
  --error-red: #f74747;
}
