.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--blue-50);
  font-size: var(--size-lg);
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}
