@import url("template.css");

body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", sans-serif;
}

:is(a, button):hover {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 200px;
}

header button {
  padding: 10px 30px;
  background-color: var(--blue-100);
  border: none;
  color: white;
  border-radius: 8px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 16px 200px 48px;
  background-color: #111827;
  font-size: 0.8rem;
  color: var(--gray-200);
}

footer div {
  display: flex;
  align-items: center;
}

.foot-copy {
  justify-content: left;
}

.foot-link {
  justify-content: center;
  gap: 30px;
}

.foot-sns {
  justify-content: right;
  gap: 12px;
}

.foot-sns a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
