@font-face {
    font-family: "ROKAF Sans";
    src: url('ROKAF_Sans_Medium.ttf')
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('Pretendard-Regular.ttf');
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 400px;
    padding-right: 400px;
}

button {
    background-color: #3692FF;
    color: #F3F4F6;
    font-size: 16px;
    font-weight: 600;
    Line-height: 26px;
    width: 128px;
    height: 48px;
    padding: 12px 23px 12px 23px;
    gap: 10px;
    border: 1px;
    border-color: #DFDFDF;
    border-radius: 8px;
    font-family: 'Pretendard Variable';
    
}

button:active {
    background-color: #1967D6;
}

.logo {
    font-family: "ROKAF Sans";
    color: #3692FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



.title-logo {
    margin-left: 8.59px;
    font-weight: 700;
    font-size: 25.63px;
    line-height: 34.6px;
}




