/* desktop */
header {
    width:100%;
    display: flex;
    position:sticky;
    top:0px;
    z-index:10;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
}


.header-wrap {
    width:100%;
    max-width:1120px; 
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


.panda-logo {
    display: flex;
    width: 116px;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
}

.login-button {
    display: flex;
    width: 128px;
    height: 48px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #3692FF;
    color: #F3F4F6;

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    line-height: 162.5%;
    text-decoration-line: none;
}

.banner {
    display:flex;
    width: 100%;
    height: 540px;
    flex-shrink: 0;
    background: #CFE5FF;
    position:relative;
    align-items:center;
    justify-content:center;
}

.banner-wrap , .bottom-wrap{
    position:absolute;
    bottom:0px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    
}

.img-home-top, .img-home-bottom {
    width:746px;
}

.banner-textbox, .bottom-textbox {
    height:100%;
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.banner-text, .section-text, .bottom-text {
    color: #374151;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; 
}

.section-text-detail {
    color:#374151;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
}

.section-textbox {
    margin : 103px 0px;
}

.tag {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px; 
    margin:12px 0px;
}

.items-button {
    display: flex;
    height: 56px;
    padding: 16px 124px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 40px;
    background: #3692FF;

    color: #F9FAFB;
    text-align: center;

    font-size: 20px;
    font-weight: 600;
    line-height: 32px; 
    text-decoration-line: none;
}

.section-left {
    width:100%;
    height:720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-right {
    width:100%;
    height:720px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: end;
}

.section-left-wrap {
    width: 100%;
    max-width:1200px;
    height:444px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
}

.section-right-wrap {
    width: 100%;
    max-width:1200px;
    height:444px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 64px;
}

.img-section {
    max-width:558px;
}

.bottom {
    display:flex;
    width: 100%;
    height: 540px;
    flex-shrink: 0;
    background: #CFE5FF;
    position:relative;
    align-items:center;
    justify-content:center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    gap: 10px;
    flex-shrink: 0;
    background: #111827;
    position:relative;
}

.footer-wrap {
    width:100%;
    max-width:1120px;
    height:96px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

footer a, span {
    color: #9CA3AF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;

    cursor: pointer;
}

.footer-center {
    color: #CFCFCF;
    display: flex;
    gap: 30px;
    justify-content:center;    
}

.sns-wrap {
    display:flex;
    width:116px;
    gap:12px;
    justify-content: space-between;
    cursor: pointer;
}

.sns-wrap > a {
    width:20px;
    height:20px;
}

/* tablet */
@media (max-width:1199px) {
    .section-text> br{
        display:none;
    }
    .banner-text > br {
        display:none;
    }
    header {
        height:70px;
        padding : 0 24px;
    }
    
    .img-home-top, .img-home-bottom {
        width:100%;
    }
    .img-section {
        max-width:100%;
    }
    .banner {
        height:771px;
        margin-bottom:24px;
    }
    .banner-wrap {
        width:100%;
        height:100%;
        flex-direction: column;
    }
    .banner-textbox {
        align-items: center;
        text-align: center;
    }
    .section-left {
        height:708px;
    }
    .section-left-wrap {
        max-width:696px;
        height:708px;
        flex-direction: column;
        gap:24px;
    }
    .tag {
        font-size:18px;
        margin:0px;
    }
    .section-textbox {
        width:100%;
        margin:0;
    }
    .section-text {
        font-size:32px;
    }
    .section-text-detail {
        font-size:19px;
        line-height:26px;
    }
    .section-right {
        height:708px;
        margin: 56px 0;
    }
    .section-right-wrap {
        max-width:696px;
        height:100%;
        flex-direction: column-reverse;
        gap:24px;
    }
    .bottom {
        height: 744px;
        margin-top:56px; 
    }
    .footer-wrap {
        max-width:536px;
    }
    .bottom-wrap {
        width:100%;
        height:100%;
        flex-direction: column;
    }
    .bottom-text {
        margin-top: 60px;
        text-align: center;
    }
}

/* mobile */
@media (max-width:767px) {
    .banner-text > br{
        display:inline ;
    }
    .banner {
        height: 540px;
    }
    .banner-wrap {
        max-width:100%;
        justify-content: space-between;
    }
    .banner-textbox {
        padding:48px 0;
        gap:18px;
    }
    .banner-text {
        max-width:240px;
        font-size:32px;
        text-align: center;
    }
    .items-button {
        height:48px;
        font-size:18px;
        padding:12px 71px;
    }
    .section-left {
        height:417px;
    }
    .section-right {
        height:417px;
    }
    .section-left-wrap {
        max-width:344px;
        max-height:417px;
    }
    .section-right-wrap {
        max-width:344px;
        max-height:417px;
    }
    .tag {
        font-size: 16px;
    }
    .section-text {
        font-size:24px;
    }
    .section-text-detail {
        font-size:16px;
    }
    .bottom {
        margin-top:86px;
        height:540px;
    }
    .bottom-textbox {
        padding:0;
        max-width:236px;
    }
    .bottom-text {
        text-align: center;
        font-size:32px;
    }
    .footer-wrap {
        max-width: 311px;
    }
    .copyright {
        position:absolute;
        top:60px;
    }
}