/* tablet */
@media (max-width:1199px) {
    .section-text> br{
        display:none !important;
    }
    .banner-text> br{
        display:none !important;
    }
    header {
        height:70px;
        padding : 0 24px;
    }
    
    .img-home-top, .img-home-bottom {
        width:100%;
    }
    .img-section {
        max-width:100%;
    }
    .banner {
        height:771px;
        margin-bottom:24px;
    }
    .banner-wrap {
        width:100%;
        height:100%;
        flex-direction: column;
    }
    .banner-textbox {
        align-items: center;
    }
    .section-left {
        height:708px;
    }
    .section-left-wrap {
        max-width:696px;
        height:708px;
        flex-direction: column;
        gap:24px;
    }
    .tag {
        font-size:18px;
        margin:0px;
    }
    .section-textbox {
        width:100%;
        margin:0;
    }
    .section-text {
        font-size:32px;
    }
    .section-text-detail {
        font-size:19px;
        line-height:26px;
    }
    .section-right {
        height:708px;
        margin: 56px 0;
    }
    .section-right-wrap {
        max-width:696px;
        height:100%;
        flex-direction: column-reverse;
        gap:24px;
    }
    .bottom {
        height: 744px;
        margin-top:56px; 
    }
    .footer-wrap {
        max-width:536px;
    }
    .bottom-wrap {
        width:100%;
        height:100%;
        flex-direction: column;
    }
    .bottom-text {
        margin-top: 60px;
        text-align: center;
    }
    .footer-wrap {
        max-width:536px;
    }
}