* {
    box-sizing: border-box;
}


html {
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
    
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #FCFCFC;
    color: #fff;
}



header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 9px 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
}

.wrap {
    height:100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


.logo {
    display: flex;
    width: 116px;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
}

.loginbutton {
    display: flex;
    width: 128px;
    height: 48px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #3692FF;
    color: #F3F4F6;

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    line-height: 162.5%;
    text-decoration-line: none;
}



.banner {
    display:flex;
    width: 100%;
    height: 540px;
    flex-shrink: 0;
    background: #CFE5FF;
    position:relative;
    align-items:center;
    justify-content:center;
}

.banner-wrapper {
    position:absolute;
    bottom:0px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    
}

.banner-textbox {
    height:100%;
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

h1 {
    color: #374151;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 140%; 
}

h3 {
    color:#374151;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
}

.section-textbox {
    margin : 103px 0px;
}

.tag {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px; 

    margin:12px 0px;
}

.itemsbutton {
    display: flex;
    height: 56px;
    padding: 16px 124px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 40px;
    background: #3692FF;

    color: #F9FAFB;
    text-align: center;

    font-size: 20px;
    font-weight: 600;
    line-height: 32px; 
    text-decoration-line: none;
}

.section1 {
    width:100%;
    display: flex;
    padding: 138px 605px 138px 360px;
    align-items: center;
    justify-content: center;
}

.section2 {
    display: flex;
    padding: 138px 360px 138px 591px;
    justify-content: center;
    align-items: center;
    background: #FFF;

    text-align: end;
}

.section3 {
    display: flex;
    padding: 138px 573px 138px 360px;
    align-items: center;
    justify-content: center;
    background: #FFF;
}
.section-wrapper {
    max-width:1920px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.bottom {
    display:flex;
    width: 100%;
    height: 540px;
    flex-shrink: 0;
    background: #CFE5FF;
    position:relative;
    top:138px;
    align-items:center;
    justify-content:center;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
    gap: 10px;
    flex-shrink: 0;
    background: #111827;
    position:relative;
    top:138px;
}

.footer-wrap {
    padding: 34px 400px;
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #9CA3AF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;

    cursor: pointer;
}

.footer-center {
    display: flex;
    gap: 30px;
    justify-content:center;    
}

.sns-wrap {
    display:flex;
    width:116px;
    gap:12px;
    justify-content: space-between;
    cursor: pointer;
}

.sns-wrap > a {
    width:20px;
    height:20px;
}

