:root {
  --primary_color:var(--blue100);
  --secondary_color:#cfe5ff;
}
/* Default: PC Size(1200px~) */
* {
  margin:0px;
  padding:0px;
  border:0px;
}
body {
  width:100%;
  color:var(--gray700);
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  height: 70px;
}
.header {
  width:100%;
  background-color:var(--white);
  height:70px;
  padding:0;
}
.header-container {
  float:left;
  height:100%;
  width:50%;
  margin:0;
  padding:9px 0px;
  box-sizing: border-box;
}
.header-logo {
  height:100%;
  margin-left: 200px;
  object-fit: contain;
}
.login {
  width:128px;
  height:100%;
  float:right;
  margin-right:200px;
  padding:12px 20px;
  text-align: center;
  color:var(--white);
  background-color:var(--primary_color);
  border-radius: 8px;
  border:0;
  cursor: pointer;
}
.home-top {
  width:100%;
  position:relative;
  height:540px;
  background-color:var(--secondary_color);
  display: flex;
  justify-content: center;
}
.top-container {
  width:1110px;
  height:340px;
  position: absolute;
  bottom:0px;
  margin:0px auto;
}
#top-left {
  float:left;
  width:357px;
  height:260px;
  position:relative;
  margin-top: 40px;
}
#top-info {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#top-img {
  float:left;
  width:746px;
}
#go-items {
  width:357px;
  padding:16px 124px;
  border-radius: 40px;
  background-color: var(--primary_color);
  border:0;
  text-align: center;
  color:var(--white);
  cursor: pointer;
}
.show {
  width:100%;
  height:720px;
  padding-top:138px;
  display:flex;
  justify-content: center;
}
.show-container {
  width:955px;
  height:444px;
  margin:0px auto;
  position:relative;
}
#show1, #show3 {
  float:left;
  right:100px;
}
#show2 {
  float:right;
  left:100px;
}
.show-img {
  width:588px;
  float:left;
}
.show-info {
  float:left;
  position:relative;
  margin-top:61px;
}
#show-title {
  color:var(--primary_color);
  font-size:18px;
  font-weight: 700;
  line-height: 26px;
}
#show-main {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#show-descript {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.home-bottom {
  width:100%;
  height:540px;
  background-color:var(--secondary_color);
  position:relative;
  display: flex;
  justify-content: center;
}
.bottom-container {
  width:1110px;
  height:397px;
  position: absolute;
  bottom:0px;
  margin:0px auto;
}
#bottom-left {
  float:left;
  width:354px;
  height:172px;
  position:relative;
  top: 100px;
}
#bottom-info {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#bottom-img {
  float:left;
  width:746px;
}
.footer {
  width:100%;
  height:160px;
  background-color: var(--gray900);
  padding-top: 32px;
}
.footer-container {
  width:1120px;
  margin:0px auto;
  display:flex;
  justify-content: space-between;
}
.footer-container .footer-text {
  color:var(--gray400);
}
.footer-container .footer-text a {
  color:var(--gray200);
}

/* Tablet Size(768px~1199px) */
@media (max-width:1199px) {
  .header-logo {
    margin-left: 24px;
  }
  .login {
    margin-right:24px;
  }
  #top-info {
    text-align: center;
  }
  .footer-container {
    width:90%;
  }
}

/* Mobile Size(~767px) */

@media (max-width:767px) {
  * {
    max-width:400px;
  }
  img {
    vertical-align: bottom;
  }
  body {
    display:flex;
    justify-content: center;
  }
  #wrapper {
    width:100%;
  }
  .header-logo {
    margin-left: 16px;
  }
  .home-top {
    display: flex;
    justify-content: center;
  }
  .top-container {
    width:400px;
    height:100%;
    justify-content: center;
  }
  #top-left {
    margin:0 auto;
    width:400px;
    position:absolute;
    justify-content: center;
    top:50px;
  }
  #go-items {
    display: block;
    margin:0 auto;
  }
  #top-info {
    text-align: center;
  }
  #top-img {
    position:absolute;
    bottom:0px;
  }
  .login {
    margin-right:16px;
  }
  .show {
    height:600px;
    padding:0px;
    margin:50px auto;
  }
  #show1, #show2, #show3 {
    left:0;
    right:0;
  }
  .home-bottom {
    display: flex;
    justify-content: center;
  }
  .bottom-container {
    width:400px;
    height:100%;
    justify-content: center;
  }
  #bottom-left {
    width:100%;
    display: flex;
    justify-content: center;
  }
  #bottom-info {
    text-align: center;
  }
  #bottom-img {
    position:absolute;
    bottom:0px;
  }
  .footer-container {
    width:90%;
  }
}