:root {
  --primary_color:var(--blue100);
  --secondary_color:#cfe5ff;
}
/* Default: PC Size(1200px~) */
body {
  margin:0px;
  padding:0px;
  color:var(--gray700);
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.header {
  background-color:var(--white);
  height:70px;
  padding:0;
}
.header-con {
  float:left;
  height:100%;
  width:50%;
  margin:0;
  padding:9px 0px;
  box-sizing: border-box;
}
#header-logo {
  height:100%;
  margin-left: 200px;
  object-fit: contain;
}
.login {
  width:128px;
  height:100%;
  float:right;
  margin-right:200px;
  padding:12px 20px;
  text-align: center;
  color:var(--white);
  background-color:var(--primary_color);
  border-radius: 8px;
  border:0;
  cursor: pointer;
}
.home-top {
  width:100%;
  height:540px;
  background-color:var(--secondary_color);
  padding-top:200px;
}
.top-con{
  width:1110px;
  height:340px;
  margin:0px auto;
}
#top-left {
  float:left;
  width:357px;
  height:260px;
  position:relative;
  margin-top: 40px;
}
#top-info {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#top-img {
  float:left;
  width:746px;
}
#goitems {
  width:357px;
  padding:16px 124px;
  border-radius: 40px;
  background-color: var(--primary_color);
  border:0;
  text-align: center;
  color:var(--white);
  cursor: pointer;
}
.show {
  width:100%;
  height:720px;
  padding-top:138px;
}
.show-con {
  width:955px;
  height:444px;
  margin:0px auto;
}
#show1, #show3 {
  float:left;
  margin-left:360px;
}
#show2 {
  float:right;
  margin-right:360px;
}
.show-img {
  width:588px;
  float:left;
}
.show-info {
  float:left;
  position:relative;
  margin-top:61px;
}
#show-title {
  color:var(--primary_color);
  font-size:18px;
  font-weight: 700;
  line-height: 26px;
}
#show-main {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#show-des {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.home-bottom {
  width:100%;
  height:540px;
  background-color:var(--secondary_color);
  padding-top:143px;
}
.bottom-con{
  width:1110px;
  height:397px;
  margin:0px auto;
}
#bottom-left {
  float:left;
  width:354px;
  height:172px;
  position:relative;
  margin-top: 100px;
}
#bottom-info {
  font-size:40px;
  font-weight: 700;
  line-height: 56px;
}
#bottom-img {
  float:left;
  width:746px;
}
.footer {
  height:160px;
  background-color: var(--gray900);
  padding-top: 32px;
}
.footer-con {
  width:1120px;
  margin:0px auto;
  display:flex;
  justify-content: space-between;
}
.footer-con .footer-text {
  color:var(--gray400);
}
.footer-con .footer-text a {
  color:var(--gray200);
}

/* Tablet Size(768px~1199px) */
@media (max-width:1199px) {

}

/* Mobile Size(~767px) */

@media (max-width:767px) {
  
}