main,
footer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.main__divider {
  height: 70px;
}

.landing-vertical {
  background: #cfe5ff;
}

.landing-vertical__wrap {
  display: flex;
  justify-content: center;
  height: 540px;
}

.landing-vertical__card {
  display: flex;
  align-items: center;
}

.landing-vertical__content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.landing-vertical__title {
  margin: 0;
  font-weight: 700;
  color: var(--Secondary-700);
  line-height: 1.4;
}

.landing-vertical__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--Primary-100);
  text-decoration: none;
  color: var(--Secondary-50);
  gap: 10px;
}

.landing-vertical__btn:hover {
  background-color: var(--Primary-200);
}

.landing-vertical__btn:active {
  background-color: #1251aa;
}

.landing-vertical__btn-text {
  font-weight: 600;
  line-height: 1.6;
}

.landing-vertical__wrap--bottom {
  gap: 69px;
}

.landing-main__wrap {
  width: 100%;
  display: flex;
}

.landing-main__section {
  display: flex;
}

.landing-main__section--right {
  display: flex;
}

.landing-main__card {
  display: flex;
  background-color: #fcfcfc;
}

.landing-main__card--right {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.landing-main__content-wrap {
  display: inline-block;
}

.landing-main__img {
  border-radius: 12px;
  max-width: 100%;
}

.landing-main__keyword {
  color: var(--Primary-100);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  margin: 0;
}

.landing-main__title {
  color: var(--Secondary-700);
  font-weight: 700;
}

.landing-main__desc {
  color: var(--Secondary-700);
  font-weight: 500;
  margin: 0;
}
