main,
footer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.main__divider {
  height: 70px;
}

.landing-vertical {
  background: #cfe5ff;
}

.landing-vertical__wrap {
  display: flex;
  justify-content: center;
  height: 540px;
}

.landing-vertical__card {
  display: flex;
  align-items: center;
}

.landing-vertical__content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.landing-vertical__title {
  margin: 0;
  font-weight: 700;
  color: var(--Secondary-700);
  line-height: 1.4;
}

.landing-vertical__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--Primary-100);
  text-decoration: none;
  color: var(--Secondary-50);
  gap: 10px;
}

.landing-vertical__btn:hover {
  background-color: var(--Primary-200);
}

.landing-vertical__btn:active {
  background-color: #1251aa;
}

.landing-vertical__btn-text {
  font-weight: 600;
  line-height: 1.6;
}

.landing-vertical__wrap--bottom {
  gap: 69px;
}

.landing-main__wrap {
  width: 100%;
  display: flex;
}

.landing-main__section {
  display: flex;
}

.landing-main__section--right {
  display: flex;
}

.landing-main__card {
  display: flex;
  background-color: #fcfcfc;
}

.landing-main__card--right {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.landing-main__content-wrap {
  display: inline-block;
}

.landing-main__img {
  border-radius: 12px;
  max-width: 100%;
}

.landing-main__keyword {
  color: var(--Primary-100);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  margin: 0;
}

.landing-main__title {
  color: var(--Secondary-700);
  font-weight: 700;
}

.landing-main__desc {
  color: var(--Secondary-700);
  font-weight: 500;
  margin: 0;
}

@media (min-width: 375px) {
  .landing-vertical__card {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .landing-vertical__content {
    gap: 18px;
    margin: 48px auto 131px;
  }

  .landing-vertical__content-bottom {
    margin-top: 121px;
  }

  .landing-vertical__title {
    font-size: 32px;
  }

  .landing-vertical__img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .landing-vertical__btn {
    height: 48px;
    padding: 12px 71px;
  }

  .landing-vertical__btn-text {
    font-size: 18px;
  }

  .landing-main__wrap {
    margin: 52px 0 83px;
    gap: 40px;
    flex-direction: column;
  }

  .landing-main__section {
    margin: 0 15px;
  }

  .landing-main__card {
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    flex-grow: 1;
  }

  .landing-main__keyword {
    font-size: 16px;
    line-height: 1.62;
  }

  .landing-main__title {
    font-size: 24px;
    line-height: 1.33;
    margin: 8px 0 16px;
  }

  .landing-main__desc {
    font-size: 16px;
    line-height: 1.62;
  }

  .line-break--cta {
    display: block;
  }
}

/* 375 영역 끝 */

@media (min-width: 768px) {
  .landing-main__section {
    margin: 0 24px;
  }

  .line-break,
  .line-break--cta {
    display: inline;
  }
}

/* 768 영역 끝 */

@media (min-width: 1200px) {
  .landing-vertical__wrap {
    align-items: flex-end;
  }

  .landing-vertical__card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 340px;
    gap: 7px;
  }

  .landing-vertical__content {
    gap: 32px;
    padding-bottom: 60px;
    margin: 0;
    text-align: left;
  }

  .landing-vertical__title {
    font-size: 40px;
  }

  .landing-vertical__img {
    width: 746px;
  }

  .landing-vetical__btn {
    height: 56px;
    padding: 16px 124px;
  }

  .landing-vertical__btn-text {
    font-size: 20px;
  }

  .landing-main__wrap {
    max-width: 1200px;
    margin: 0 auto;
    gap: 0;
  }

  .landing-main__section {
    padding: 138px 0;
    margin: 0;
  }

  .landing-main__section--right {
    justify-content: flex-end;
  }

  .landing-main__card {
    flex-direction: row;
    align-items: center;
    gap: 64px;
    margin: 0;
    flex-grow: 0;
  }

  .landing-main__card--right {
    flex-direction: row-reverse;
  }

  .landing-main__keyword {
    font-size: 18px;
    line-height: 1.44;
  }

  .landing-main__title {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.8px;
    margin: 12px 0 24px;
  }

  .landing-main__desc {
    font-size: 24px;
    line-height: 1.33;
  }

  .line-break,
  .line-break--cta {
    display: block;
  }
}
