.login__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  margin: 60px auto;
}

.main__wrap {
  margin-top: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__label {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--Secondary-800);
  line-height: 1.444;
}

.login-form__input {
  display: flex;
  align-items: center;
  width: 640px;
  height: 56px;
  margin-bottom: 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background: var(--Secondary-100);
  font-family: Pretendard;
  font-size: 16px;
}

.login-form__input:focus {
  outline: 1px solid #3692ff;
}

.login-form__input::placeholder {
  font-weight: 400;
  color: var(--Secondary-400);
}

.login-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;
  background: var(--Secondary-400);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--Cool-Gray-100, #f3f4f6);
  gap: 10px;
  line-height: 1.6;
  cursor: pointer;
}

.login-form__btn:active {
  background: var(--Primary-100);
}

.social-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  height: 74px;
  margin: 24px 0;
  padding: 16px 23px;
  border-radius: 8px;
  background: #e6f2ff;
}

.social-login__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--Secondary-800);
  line-height: 1.62;
}

.social-login__shortcuts {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.create-account {
  text-align: center;
}

.create-account__info {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--Secondary-800);
  line-height: 1.71;
}

.create-account__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  color: var(--Primary-100, #3692ff);
}
