.login__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__auth {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form__label {
  font-weight: 700;
  color: var(--Secondary-800);
<<<<<<< HEAD
  line-height: 1.444;
=======
>>>>>>> b569ab8bdee651573e1c1ccbc436e5481b0dfd41
}

.login-form__input {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background: var(--Secondary-100);
  font-family: Pretendard;
  font-size: 16px;
  height: 56px;
}

.login-form__input:focus {
  outline: 1px solid #3692ff;
}

.login-form__input::placeholder {
  font-weight: 400;
  color: var(--Secondary-400);
<<<<<<< HEAD
  line-height: 1.625;
=======
>>>>>>> b569ab8bdee651573e1c1ccbc436e5481b0dfd41
}

.login-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 124px;
  border: none;
  border-radius: 40px;
  background: var(--Secondary-400);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--Secondary-100);
  gap: 10px;
  line-height: 1.6;
  cursor: pointer;
}

.login-form__btn:active {
  background: var(--Primary-100);
}

.social-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  margin: 24px 0;
  border-radius: 8px;
  background: #e6f2ff;
}

.social-login__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--Secondary-800);
  line-height: 1.62;
}

.social-login__shortcuts {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.social-login__shortcut {
  width: 42px;
  height: 42px;
}

.create-account {
  text-align: center;
}

.create-account__info {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--Secondary-800);
  line-height: 1.71;
}

.create-account__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  color: var(--Primary-100, #3692ff);
<<<<<<< HEAD
=======
}

@media (min-width: 376px) {
  .login__wrap {
    margin: 80px auto 0;
    max-width: 400px;
    gap: 24px;
  }

  .header__auth-img {
    width: 198px;
    height: 66px;
  }

  .main__wrap {
    margin: 0 16px;
  }

  .login-form__label {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.71;
  }

  .login-form__input {
    margin-bottom: 16px;
    width: 100%;
  }

  .login-form__btn {
    width: 100%;
  }

  .social-login {
    width: 100%;
    padding: 16px 24px;
  }
}
/* 375 영역 끝 */
@media (min-width: 768px) {
  .login__wrap {
    max-width: 640px;
    margin: 48px auto 0;
    gap: 40px;
  }

  .header__auth-img {
    width: 396px;
    height: 132px;
  }

  .main__wrap {
    margin: 0;
  }

  .login-form__label {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.444;
  }

  .login-form__input {
    width: 640px;
    margin-bottom: 24px;
    border-radius: 12px;
  }

  .login-form__btn {
    width: 640px;
  }

  .social-login {
    width: 640px;
    padding: 16px 23px;
  }
}
/* 768 영역 끝 */
@media (min-width: 1200px) {
  .login__wrap {
    margin: 60px auto 0;
  }
>>>>>>> b569ab8bdee651573e1c1ccbc436e5481b0dfd41
}
