.allItemList {
  width: 1200px;
}
@media (max-width: 1199px) {
  .allItemList {
    width: 100%;
  }
}

.allItemList__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 24px;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .allItemList__body {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
  }
}
@media (max-width: 767px) {
  .allItemList__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
