.bestItemList {
  width: 1200px;
}
@media (max-width: 1199px) {
  .bestItemList {
    width: 100%;
  }
}

.bestItemList__head {
  margin-bottom: 16px;
}

.bestItemList__title {
  font-size: var(--size-xl);
  font-weight: bold;
}

.bestItemList__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 1199px) {
  .bestItemList__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .bestItemList__body {
    grid-template-columns: repeat(1, 1fr);
  }
}
