.tag-container {
    display: flex;
    gap:16px;
    flex-direction: column;
}
.tag {
    color: var(--Secondary-800, #1F2937);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px; 
}
.tag-input {
    height: 56px;
    padding: 24px 16px;
    border:none;
    border-radius: 12px;
    background: var(--Cool-Gray-100, #F3F4F6);

    
}
.tag-input::placeholder{
    color: var(--Secondary-400, #9CA3AF);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.tag-list {
    display: inline-block;
    height: 36px;
}
.tag-item {
    display: inline-block;
    margin-right:24px;
    height: 36px;
    padding: 0 16px;
    border-radius: 26px;
    background: var(--Cool-Gray-100, #F3F4F6);
}
.tag-content {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.tag-item span {
    display: inline-block;
    color: var(--Secondary-800, #1F2937);
    background:none;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    
}
.x-icon {
    width:24px;
    height: 26px;
    background: none;
    margin-left:8px;
    cursor:pointer;
}