.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  inset: 0 0 auto 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  padding: 9.5px 16px;
}

ul.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

ul.menu > li:not(:first-child) {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  color: var(--gray600);
}

.logo {
  display: block;
  width: 81px;
  height: 40px;
}

.profile {
  display: block;
  width: 32px;
  height: 32px;
}

.active {
  color: var(--blue);
}

.dropdown li button {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  color: var(--gray500);
  padding: 16px 26.5px;
  white-space: nowrap;
}

.button {
  line-height: 1.625rem;
  padding: 11px 43px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 9.5px 24px;
  }

  ul.menu {
    gap: 30px;
  }

  ul.menu > li:not(:first-child) {
    font-size: 1.125rem;
  }

  .logo {
    content: url("/panda_logo.svg");
    width: 153px;
    height: 51px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 9.5px 200px;
  }

  .logo {
    margin-right: 17px;
  }

  .profile {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 9.5px 400px;
  }
}
