.globalHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  margin: 0 auto;
}

.headerLeft {
  display: flex;
  align-items: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .globalHeader {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .globalHeader {
    width: 696px;
  }
  .navList {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .globalHeader {
    width: 1200px;
  }
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray-600);
}

.navItem span {
  margin: 21px 15px;
}

.navItem span:hover {
  color: var(--blue);
}

.loginLink {
  background-color: var(--blue);
  color: #fff;
  padding: 11.5px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 88px;
  height: 42px;
}

.loginLink:hover {
  background-color: var(--blue-hover);
}

.loginLink:focus {
  background-color: var(--blue-focus);
}
