.common-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.common-product-title {
  color: var(--secondary-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}