.common-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 32px;
  gap: 16px;
}

.common-product-title {
  color: var(--secondary-800);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

@media (max-width: 1199px) {
  .common-container {
    width: 100%;
    margin: 0 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .common-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    margin: 0px 14px 24px 15px;
    gap: 16px;
  }
}