.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 14px;
  gap: 16px;
}

.tag-input {
  height: 56px;
  padding: 16px 24px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 400px;
    padding: 0px 14px 14px 15px;
  }
}