.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.add-product-title {
  color: var(--secondary-800);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
}

.add-button {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  height: 42px;
  padding: 12px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}