.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 24px 0 48px;
  color: var(--gray-800);
}
@media (max-width: 1199px) {
  .main {
    padding: 24px 24px 48px;
  }
}
@media (max-width: 767px) {
  .main {
    padding: 24px 16px 48px;
  }
}
