@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');


:root {
    /* Gray scale */
    --gray-900: #1b1d1f;
    --gray-800: #26282b;
    --gray-600: #454c53;
    --gray-500: #72787f;
    --gray-400: #9ea4a8;
    --gray-200: #e5e7eb;
    --gray-100: #e8ebed;
    --gray-50: #f7f7f8;
    /* Primary color */
    --blue: #3692ff;
    
    /* Layout dimensions */
    --header-height: 70px;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#FCFCFC;;
}
html {
    word-break: keep-all;
    font-family: Pretendard, sans-serif;
    
}
body {
    margin: 0;
    background: #FCFCFC;
    
}