.navbar {
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.logoImg {
  margin: 0 33px 0 100px;
}

.nav-link {
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 21px 15px;
  font-size: 18px;
}

.nav-link.active {
  color: #3692ff;
}

.profileImg {
  margin-right: 30px;
  align-items: center;
}
