.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  z-index: 10000;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.logoImg {
  margin: 0 33px 0 100px;
}

.nav-link {
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 21px 15px;
  font-size: 18px;
}

.nav-link.active {
  color: #3692ff;
}

.profileImg {
  margin-right: 30px;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
  }

  .nav-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .logoImg {
    margin: 10px 0;
  }

  .nav-link {
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 21px 15px;
    font-size: 15px;
  }

  .profileImg {
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
  }

  .nav-container {
    width: 100%;
  }

  .logoImg {
    margin: 10px 0;
  }

  .nav-link {
    padding: 12px 8px;
    font-size: 14px;
  }

  .profileImg {
    margin-right: 10px;
  }
}
