/*
텍스트 요소의 자동 줄바꿈 서식 설정
*/

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
  text-wrap: balance;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/*
웹 접근성을 고려한 요소 은폐
*/

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/*
고정적으로 뷰포트 y축 스크롤바 표시
*/

body {
  overflow-y: scroll;
}
