.ArticlesList {
  display: flex;
  flex-direction: column;
}

.Article {
  display: flex;
  flex-direction: space-between;
}

.image {
  position: relative;
  z-index: 0;
  width: 72px;
  height: 72px;
}
