@media (min-width: 375px) and (max-width: 767px) {
  .BestArticles {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .BestArticles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .BestArticles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.title {
  display: flex;
}

.image {
  position: relative;
  z-index: 0;
  width: 72px;
  height: 72px;
}
