.container {
  margin: 0 auto;
  margin-top: 40px;
  width: 1200px;
}

.all-product-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 24px;
}

.all-product {
  width: 220px;
  height: 317px;
}

.all-product-info {
  width: 217px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.all-product-img {
  width: 220px;
  height: 220px;
  border-radius: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.search-container {
  display: flex;
  gap: 12px;
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}

.search-input {
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 40px;
}

.search-button {
  width: 133px;
  height: 42px;
  border-radius: 8px;
}

.search-dropdown {
  position: relative;
  width: 130px;
  height: 42px;
  border: 1px solid var(--Cool-Gray-200, #E5E7EB);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.search-dropdown-selected {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: var(--secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

.search-dropdown-list {
  text-align: center;
  position: absolute;
  z-index: 1;
  background-color: var(--background-color);
  border: 1px solid var(--Cool-Gray-200, #E5E7EB);
  color: var(--secondary-800);
  border-radius: 12px;
  width: 130px;
  top: 50px;
}

.search-dropdown-list > li {
  padding-top: 9px;
  padding-bottom: 7px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.search-dropdown-list > li:hover {
  background-color: var(--secondary-300);
}

.product-title {
  color: var(--secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.product-price {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.product-favorite-count {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  gap: 4px;
}

.product-heart-img > svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 43px;
  margin-bottom: 58px;
}

.pagination span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Cool-Gray-200, #E5E7EB);;
  border-radius: 40px;
  font-size: 15px;
  cursor: pointer;
}

.pagination > span:hover {
  background-color: var(--secondary-300);
}