.container {
  width: 1200px;
}

.all-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.all-product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 221px;
  height: 317px;
}

.all-product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.all-product-img {
  width: 220px;
  height: 220px;
}

.product-title {
  color: var(--secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}

.product-price {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.product-favorite-count {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}