.container {
  width: 1200px;
}

.all-product-list {
  display: flex;
  flex-wrap: wrap;
}
.all-product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 221px;
  height: 317px;
}

.all-product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.all-product-img {
  width: 220px;
  height: 220px;
}
