.container {
  width: 1200px;
}

.title {
  margin-bottom: 16px;
}

.best-product-list {
  display: flex;
  gap: 24px;
}
.best-product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 282px;
  height: 379px;
}

.best-product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.best-product-img {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.product-heart-img > svg {
  width: 16px;
  height: 16px;
}

.product-title {
  color: var(--secondary-800);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}

.product-price {
  color: var(--Secondary-800);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.product-favorite-count {
  color: var(--Secondary-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  gap: 4px;
}