.BestItems {
  margin-bottom: 40px;
}

.BestItems-title {
  color: var(--Secondary-900, #111827);
  font-size: 20px;
  font-weight: 700;
}

.BestItems-list {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
}
