.Comment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid var(--Secondary-200);
}

.Comment-content {
  color: var(--Secondary-800, #1f2937);
  font-size: 14px;
  font-weight: 400;
}

.Comment-avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.Comment-etc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Comment-writer-nickname {
  color: var(--Secondary-600, #4b5563);
  font-size: 12px;
  font-weight: 400;
}

.Comment-created-at {
  color: var(--Secondary-400, #9ca3af);
  font-size: 12px;
  font-weight: 400;
}
