.ItemForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ItemForm-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.ItemForm-title {
  color: var(--Secondary-800, #1f2937);
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

.ItemForm-tags-wrapper {
  margin-top: 14px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btn-upload {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background: var(--Secondary-100, #f3f4f6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-upload-description {
  color: var(--Secondary-400, #9ca3af);
  font-size: 16px;
  font-weight: 400;
}

#file {
  display: none;
}
