.Item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Item-img {
  border-radius: 16.588px;
  width: 100%;
  object-fit: cover;
}

.large-img {
  height: 270px;
}

.small-img {
  height: 210px;
}

.Item-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Item-title {
  color: var(--Secondary-800, #1f2937);
  font-size: 14px;
  font-weight: 500;
}

.Item-price {
  color: var(--Secondary-800, #1f2937);
  font-size: 16px;
  font-weight: 700;
}

.Item-description-favorite {
  display: flex;
  gap: 4px;
}

.Item-favorite-count {
  color: var(--Secondary-600, #4b5563);
  font-size: 12px;
  font-weight: 500;
}

/* tablet */
@media screen and (max-width: 1199px) {
  .large-img {
    height: 365px;
  }

  .small-img {
    height: 240px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .large-img {
    height: 340px;
  }

  .small-img {
    height: 160px;
  }
}
