.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.label {
  line-height: 1.625rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border-radius: 12px;
  background-color: var(--gray100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--gray800);
  padding: 16px 24px;
}

.input:focus {
  outline-color: var(--blue);
}

.input::placeholder {
  color: var(--gray400);
}
