.container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray500);
}

.container span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--gray500);
}

.image {
  width: 16px;
  height: 16px;
}
