.wrapper {
  padding: 24px 15px 70px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 16px 24px 70px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}
