.wrapper {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}
