.wrapper {
  padding: 16px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625rem;
  padding: 11px 40px;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}
