.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.wrapper p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--gray800);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--gray800);
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--gray200);
  padding-bottom: 16px;
}

.authorInfo {
  gap: 16px;
}

.authorInfo > div {
  gap: 2px;
}

.authorInfo span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.authorInfo time {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.heartButtonContainer {
  border-left: 1px solid var(--gray200);
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-bottom: 40px;
  }

  .info {
    gap: 32px;
  }

  .heartButtonContainer {
    padding-left: 32px;
  }

  .heartButton img {
    width: 32px;
    height: 32px;
  }

  .authorInfo > div {
    gap: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin-bottom: 32px;
  }

  .wrapper p {
    font-size: 1.125rem;
  }

  .info {
    margin-bottom: 8px;
  }
}
