@media (min-width: 768px) and (max-width: 1199px) {


  .header {
    display: flex;
    height: 70px;
    justify-content: space-between;
  }
  
  .login-btn {
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word;
    border-radius: 8px;
  }

  .item-letter-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }
  
  .item-letter-wrapper > h3 {
    padding-bottom: 12px;
  }
  
  .item-big-letter {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.8px;
  }

  .item-content {
    width: 100%;
    height: 708px;
  }
  
  .top-img {
    width: 100%;
    height: 340px;
  }
  
  .top {
    margin-bottom: 24px;
  }

  .top-bottom {
    background-color: var(--background-top-bottom-color);
    width: 100%;
    height: 771px;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  
  .top-content {
    width: 100%;
    height: 771px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-letter-wrapper {
    margin: 84px 116px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .top-letter-wrapper > h3 br,
  .item-letter-wrapper > h3 br {
    display: none;
  }

  .top-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    word-wrap: break-word;
    padding: 16px 124px;
    border-radius: 40px;
  }
  
  .main-items {
    width: 100%;
    height: 708px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
  }

  .main-items:nth-of-type(even) > .item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: left;

  }

  .main-items:nth-of-type(odd) > .item-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    gap: 24px;
    text-align: right;
  }

  .main-imgs {
    width: 100%;
    height: 524px;
  }

  .bottom {
    margin-top: 4px;
    height: 927px;
  }

  .bottom-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .bottom-content > h3 {
    text-align: center;
    margin-bottom: 217px;
    margin-top: 201px;
  }

  .bottom-img {
    width: 100%;
    height: 397px;
  }
  
  .footer{
    width: 100%;
    height: 160px;
    background-color: var(--secondary-900);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content {
    padding: 32px 104px 64px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  
  .footer-letter {
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word
  }
}