.is-cursor-pointer {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-200);
}

.btn:active {
  background-color: var(--primary-300);
}

.btn:disabled {
  background-color: var(--secondary-400);
}