.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.input {
  display: none;
}

.imageUploadContainer {
  display: flex;
  gap: 10px;
}

.imageContainer {
  max-width: 168px;
  max-height: 168px;
  aspect-ratio: 1;
  border-radius: 12px;
  flex: 1 0 auto;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: var(--gray100);
  cursor: pointer;
}

.imageUpload > img {
  width: 48px;
  height: 48px;
}

.imageUpload > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--gray400);
}

.imagePreview {
  position: relative;
}

.imagePreview img {
  width: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
}

.xButton {
  position: absolute;
  top: 4%;
  right: 4%;
}

.errorMessage {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--red);
}

@media screen and (min-width: 1200px) {
  .imageContainer {
    max-width: 282px;
    max-height: 282px;
  }
}
