.commentItemContainer {
    width:100%;
    display:flex;
    flex-direction: column;
    gap:12px;
}
.commentItemBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
}
hr {
    stroke-width: 1px;
    stroke: var(--Cool-Gray-200, #E5E7EB);
}
.commentText {
    color: var(--Secondary-800, #1F2937);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
.profile-container {
    width:100%;
    display:flex;
    justify-content:space-between;
}
.profileBox {
   display:inline-flex;
   gap:8px;
   align-items: center;
}
.profileBox img {
    width:40px;
    height:40px;
}
.profileTextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4px;
}
.userName {
    color: var(--Secondary-600, #4B5563);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px; 
}
.updatedAt {
    color: var(--Cool-Gray-400, #9CA3AF);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}