.allItemList {
  width: 1200px;
}
@media (max-width: 1199px) {
  .allItemList {
    width: 100%;
  }
}

.allItemList__head {
  display: flex;
  margin-bottom: 16px;
}

.allItemList__title {
  font-size: var(--size-xl);
  font-weight: bold;
}

.allItemList__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .allItemList__body {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .allItemList__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
