<footer class="footer">
  <div class="footer-content">
    <div>
      <p class="footer-letter" style="color: #9CA3AF;">&#x24D2;codeit - 2024</p>
    </div>
    <div style="display: flex; gap: 30px;">
      <p class="footer-letter"><a href="/src/pages/privacy" style="color: #E5E7EB;">Privacy Policy</a></p>
      <p class="footer-letter"><a href="/src/pages/faq" style="color: #E5E7EB;">FAQ</a></p>
    </div>
    <div>
      <nav>
        <ul>
          <li>
            <a href="https://www.facebook.com/codeit.kr" target="_blank" rel="noopener noreferrer">
              <img src="/src/assets/img/ic_facebook.png" alt="페이스북">
            </a> 
          </li>
          <li>
            <a href="https://x.com/codeitkr" target="_blank" rel="noopener noreferrer">
              <img src="/src/assets/img/ic_twitter.png" alt="X">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCCM79CPm2WbBYTRaiNEExbg" target="_blank" rel="noopener noreferrer">
              <img src="/src/assets/img/ic_youtube.png" alt="유튜브">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/codeit_kr/" target="_blank" rel="noopener noreferrer">
              <img src="/src/assets/img/ic_instagram.png" alt="인스타그램">
            </a>
        </ul>
      </nav>
    </div>

  </div>
</footer>