.header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 200px;
  border-bottom: 1px #dfdfdf;
  width: 100vw;
  z-index: 1000;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-nav > * {
  color: var(--secondary-600);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: 21px 15px;
}

.active {
  color: var(--blue);
}

.user-icon {
  cursor: pointer;
}