<main>
  <section class="top-bottom top">
    <div class="top-bottom-content top-content">
      <div class="top-letter-wrapper">
        <h3>
          일상의 모든 물건을<br>
          거래해 보세요
        </h3>

        <a href="/src/pages/items/"><button class="top-btn is-cursor-pointer btn" type="button">구경하러 가기</button></a>
      </div>
      
      <img class="top-img" src="/src/assets/img/img_home_top.png" alt="배너 이미지">
    </div>
  </section>

  <section class="main-items">
    <div class="item-content">
      <img class="main-imgs" src="/src/assets/img/img_home_01.png" alt="인기 이미지">
      
      <div class="item-letter-wrapper">
        <h5>Hot Item</h5>
        
        <h3 id="first-label" class="item-big-letter">
          인기 상품을<br>
          확인해 보세요
        </h3>
        
        <p>
          가장 HOT한 중고거래 물품을<br>
          판다 마켓에서 확인해 보세요
        </p>
      </div>
    </div>
  </section>


  <section class="main-items">
    <div class="item-content">
      <div class="item-letter-wrapper">
        <h5>Search</h5>
        
        <h3 id="second-label" class="item-big-letter">
          구매를 원하는<br>
          상품을 검색하세요
        </h3>
        
        <p>
          구매하고 싶은 물품은 검색해서<br>
          쉽게 찾아보세요
        </p>
      </div>
      
      <img class="main-imgs" src="/src/assets/img/img_home_02-1.png" alt="구매 이미지">
    </div>
  </section>

  <section class="main-items">
    <div class="item-content">
      <img class="main-imgs" src="/src/assets/img/img_home_03.png" alt="판매 이미지">
      
      <div class="item-letter-wrapper">
        <h5>Register</h5>
        
        <h3 id="third-label" class="item-big-letter">
          판매를 원하는<br>
          상품을 등록하세요
        </h3>
        
        <p>
          어떤 물건이든 판매하고 싶은 상품을<br>
          쉽게 등록하세요
        </p>
      </div>
    </div>
  </section>

  <section class="top-bottom bottom">
    <div class="top-bottom-content bottom-content">
      <h3>
        믿을 수 있는<br>
        판다마켓 중고 거래
      </h3>
      
      <img class="bottom-img" src="/src/assets/img/img_home_bottom.png" alt="소개 이미지">
    </div>
  </section>
</main>