.nav {
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  padding: 1rem 20rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

ul.menu > li:first-child {
  margin-left: 3.2rem;
}

ul.menu > li,
ul.menu > li > a {
  color: var(--Gray-600);
  font-weight: 700;
  font-size: 1.8rem;
}

.profile {
  background-color: #d1d5db;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
