.PrimaryButton {
  border-radius: 8px;
  background-color: var(--Primary-100, #3692ff);
  height: 42px;
  padding: 12px 23px;
  color: var(--Cool-Gray-100, #f3f4f6);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
