.section {
  margin-bottom: 24px;
}

.ProductListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 14px;
  margin-bottom: 16px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  color: var(--gray900);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--gray100);
  padding: 9px 70px 9px 16px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
  flex: 1 0 80%;
  order: 1;
}

.inputContainer > img {
  width: 24px;
  height: 24px;
}

.input:focus {
  outline: none;
}

.button {
  border-radius: 8px;
  background-color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.625rem;
  color: var(--gray100);
  padding: 8px 23px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 40px;
  }

  .ProductListHeader {
    justify-content: flex-start;
    margin-bottom: 24px;
    gap: 12px;
  }

  .title {
    flex: 1;
  }

  .inputContainer {
    flex: 0 1 auto;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 24px;
  }
}
