.footer__wrap {
  background: var(--Secondary-900);
  height: 160px;
  padding: 32px 400px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content-info {
  display: flex;
  width: 66.66%;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--Secondary-400);
  width: 50%;
}

.footer__info-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 50%;
}

.footer__info {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--Secondary-200);
}

.footer__shortcut-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.33%;
}

.footer__shortcut-btn {
  display: flex;
}

.footer__shortcut-btn:not(:last-child) {
  margin: 0 12px 0 0;
}
