.header__wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 9px 200px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #ffffff;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  vertical-align: middle;
}

.header__login-btn {
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--Primary-100);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--Secondary-100);
  line-height: 1.62;
}

.header__login-btn:hover {
  background-color: var(--Primary-200);
}

.header__login-btn:active {
  background-color: #1251aa;
}
