.addItem {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:29px;
}
.content-container {
    max-width:1200px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:32px;
}
.title {
    color: var(--Secondary-800, #1F2937);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px; 
}