.commentContainer {
    width:100%;
}
label {
    color: var(--Cool-Gray-900, #111827);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
}
.commentInput {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-top:9px;
    border:none;
    border-radius: 12px;
    background: var(--Cool-Gray-100, #F3F4F6);
    resize:none;
}
.buttonContainer {
    width:100%;
    display:flex;
    justify-content: right;
}
.submitButton {
    width:74px;
    display: flex;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:none;
    border-radius: 8px;
    background: var(--Cool-Gray-400, #9CA3AF);

    color: var(--Cool-Gray-100, #F3F4F6);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px; 

}
.commentList {
    margin-top:24px;
}