.section {
  margin-bottom: 24px;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-align: left;
  color: var(--gray900);
  margin-bottom: 16px;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 24px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 40px;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
