.productDetail {
  border-bottom: 1px solid var(--gray200);
  margin-bottom: 24px;
}

.productImg {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray800);
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray800);
  border-bottom: 1px solid var(--gray200);
  padding: 8px 0 16px;
  margin-bottom: 16px;
}

.subContainer {
  margin-bottom: 24px;
}

.subTitle {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--gray800);
  margin-bottom: 8px;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray800);
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 24px;
}

.profile {
  display: flex;
  gap: 16px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray600);
}

.date {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray400);
}

.heartButtonContainer {
  border-left: 1px solid var(--gray200);
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .productDetail {
    display: flex;
    gap: 16px;
  }

  .productImg {
    width: 40%;
  }

  .productContainer {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    font-size: 1.25rem;
  }

  .price {
    font-size: 2rem;
  }

  .userInfo {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .productDetail {
    gap: 24px;
  }

  .name {
    font-size: 1.5rem;
  }

  .price {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 16px 0;
    margin-bottom: 24px;
  }

  .subTitle {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .userInfo {
    padding-bottom: 40px;
  }
}
