<section class="login-wrapper">
  <div class="login-content">
    <a href="/" class="logo-link">
      <img width="396px" height="132px" src="/src/assets/img/logo_lg.svg" alt="로고 이미지" class="logo-img">
    </a>
    <div class="login-content-without-img">
      <form class="login-form" action="/src/pages/items/" method="post">
        <div class="login-content-without-signup">
          <div class="login-content-without-btn">
            <div class="input-email">
              <label class="label-font" for="email-tag">이메일</label>
              <input name="email" class="email-tag" autocomplete="off" id="email-tag" type="email" placeholder="이메일을 입력해주세요">
              <p class="email-error-message" style="display: none;"></p>
            </div>
            <div class="input-password">
              <label class="label-font" for="password-tag">비밀번호</label>
              <input name="password" class="password-tag" autocomplete="off" id="password-tag" type="password"
                placeholder="비밀번호를 입력해주세요">
              <button type="button" class="password-icon-btn">
                <span class="password-icon"></span>
              </button>
              <p class="password-error-message" style="display: none;"></p>
            </div>
          </div>
          <button class="login-submit-btn btn" type="submit">로그인</button>
          <div class="convenience-login">
            <div class="convenience-login-content">
              <p>간편 로그인하기</p>
              <nav>
                <ul>
                  <li
                    style="display: flex; justify-content: center; align-items: center; width: 42px; height: 42px; background: white; border-radius: 9999px; border: 1px #F9FAFB">
                    <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
                      <img src="/src/assets/img/ic_google.png" alt="구글 로그인">
                    </a>
                  </li>
                  <li
                    style="display: flex; justify-content: center; align-items: center; width: 42px; height: 42px; background: #F5E14B; border-radius: 9999px; border: 1px #F9FAFB">
                    <a href="https://www.kakaocorp.com/page/" target="_blank" rel="noopener noreferrer">
                      <img src="/src/assets/img/ic_kakao.png" alt="카카오톡 로그인">
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </form>
      <div style="gap:4px; display: flex; align-items: center; justify-content: center;">
        <p
          style="color: #1F2937; font-size: 14px; font-family: Pretendard; font-weight: 500; line-height: 24px; word-wrap: break-word">
          판다마켓이 처음이신가요?
        </p>
        <a
          style="color: #3692FF; font-size: 14px; font-family: Pretendard; font-weight: 500; text-decoration: underline; word-wrap: break-word"
          href="/src/pages/signup/">
          회원가입
        </a>
      </div>
    </div>
  </div>
</section>

<script type="module" src="/src/js/Login.js"></script>