@media (min-width: 375px) {
  .footer__wrap {
    padding: 32px;
  }

  .footer__content {
    align-items: flex-start;
  }

  .footer__content-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    text-wrap: nowrap;
  }

  .footer__copyright {
    color: #676767;
    font-family: Arial;
  }

  .footer__info-wrap {
    width: 100%;
    justify-content: flex-start;
  }

  .footer__info {
    color: #cfcfcf;
    font-family: Arial;
  }
}

/* 375 영역 끝 */

@media (min-width: 768px) {
  .footer__wrap {
    padding: 32px 104px 64px;
  }

  .footer__content {
    align-items: center;
  }

  .footer__content-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__copyright {
    font-family: Abel;
  }

  .footer__info-wrap {
    justify-content: center;
    width: 50%;
  }

  .footer__info {
    font-family: Abel;
  }
}
/* 768 영역 끝 */

@media (min-width: 1200px) {
  .footer__copyright {
    font-family: Pretendard;
  }

  .footer__info {
    font-family: Pretendard;
  }
}
