* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

footer {
  width: 100%;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  body {
    height: 100%;
  }
}
