.boardContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.CreateArticle {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.SearchDrop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .boardContainer {
    width: 343px;
  }
  .CreateArticle {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .boardContainer {
    width: 696px;
  }
}

@media (min-width: 1280px) {
  .boardContainer {
    width: 1200px;
  }
  .CreateArticle {
    margin-top: 40px;
  }
}
