.card-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 1200px;
  margin: 0 auto;
}

.no-inquire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: var(--Cool-Gray-400, #9CA3AF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .card-container {
    width: 100%;
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}