@import url('./variables.css');

* {
  box-sizing: border-box;
  font-family: var(--font-family1);
}

header {
  max-width: 1920px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0px 200px;
}

.header-logo-box {
  display: flex;
  align-items: center;
}

.header-login-box {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 48px;
}

.header-login {
  height: 48px;
}

main {
  background-color: var(--background-color1);
}


.main-box {
  max-width: 1920px;
  padding: 275px 200px 0px 200px;
  margin: 0 auto ;
  display: grid;
  grid-template-columns: 490px 512.5px 512.5px;
  grid-template-rows: 465px;
  gap: 0;
}

.main-box-kid1 {
 color: var(--secondary-color-gray700);
 height: 465px;
 font-size: 40px;
 font-weight: 700;
 line-height: 56px;
 text-align: left;
 grid-column: 1 / 2;
 padding: 54px 5px 54px 0px; 
}

.sightseeing {
  width: 490px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-box-kid2 {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column-reverse;
}

.main-panda {
  width: 1010px;
}

.section-background {
  background-color: var(--background-color0);
}

.section-container {
  max-width: 1920px;
  height: 985px;
  padding: 190px 200px;
  margin: 0 auto;
}

.section-container-right {
  max-width: 1920px;
  height: 985px;
  padding: 190px 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.section-box {
  width: 1308px;
  height: 608px;
  display: flex;
  flex-direction: row;
}

.section-box-right {
  width: 1308px;
  height: 608px;
  display: flex;
  flex-direction: row-reverse;
}

.section-content {
  height: 608px;
  width: 805px;
}

.section-content-p-box {
  padding: 103px 29px 103px 29px;
  text-align: left;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: var(--background-color2);
}

.section-content-p1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--primary-color100);
  margin: 0;
}

.section-content-p2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--secondary-color-gray700);
  margin: 12px 0px 24px 0px;
}

.section-content-p3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--secondary-color-gray700);
  margin: 0;
}




.bottom-container {
  margin-top: 190px;
  background-color: var(--background-color1);
}

.bottom-box {
  max-width: 1920px;
  padding: 200px 200px 0px 200px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.bottom-p {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  padding: 154px 95px 154px 0px;
  width: 490px;
  color: var(--secondary-color-gray700);
}

.bottom-img {
  display: flex;
  flex-direction: column-reverse;
}

.bottom-panda {
  width: 1025px;
}

.footer-container {
  background-color: var(--secondary-color-gray900);
}

.footer-box {
  color: var(--secondary-color-gray200);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 1920px;
  height: 220px;
  margin: 0 auto;
  padding: 45px 200px 0px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-kid2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-kid-a {
  display: inline-block;
  text-decoration: none;
  margin: 0px 40px;
  color: var(--secondary-color-gray200);
}

.footer-kid3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link {
  margin: 0px 10px;
  width: 27.5px;
  height: 27.5px;
}