.header-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 400px;
}

.footer-container {
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  padding: 32px 400px;
  position: fixed;
  bottom: 0;
}

.login {
  background-color: var(--primary-100);
  color: var(--secondary-gray-100);
  padding: 12px 23px 12px 23px;
  border-radius: 8px;
  width: 128px;
  height: 48px;
}

.hero {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
}

.hero-container {
  height: 540px;
  display: flex;
  align-items: flex-end;
}

.hero-content-letters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 100px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
}

.hero-image {
  width: 746px;
  height: 340px;
}

.btn-items {
  width: 357px;
  height: 56px;
  padding: 16px 124px 16px 124px;
  border-radius: 40px;
  color: var(--secondary-gray-50);
  background-color: var(--primary-100);
  font-size: 20px;
  font-weight: 600;
}

.hot-item {
  background-color: #fff;
  padding: 138px 605px 138px 360px;
  height: 720px;
}

.hot-item-container {
  display: flex;
  align-items: center;
  gap: 64px;
  background: #FCFCFC;
}

.hot-item-content-letters {
  display: flex;
  flex-direction: column;
}

.hot-item-content-letters span {
  color: var(--primary-100, #3692FF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.hot-item-content-letters p {
  color: var(--secondary-gray-700, #374151);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.hot-item-title {
  color: var(--secondary-gray-700, #374151);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.search {
  background-color: #fff;
  padding: 138px 360px 138px 591px;
  height: 720px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  background: #FCFCFC;
}

.search-content-letters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  gap: 24px;
}

.search-content-letters span {
  color: var(--primary-100, #3692FF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.search-content-letters p {
  color: var(--secondary-gray-700, #374151);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.search-title {
  color: var(--secondary-gray-700, #374151);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
}

.copyright {
  color: #9CA3AF;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-mid a {
  color: #E5E7EB;
}

.footer-social {
  display: flex;
  gap: 12px;
}