@import url("/styles/common/variable.css");
@import url("/styles/common/global.css");

.body {
  color: var(--gray-700);
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 8px calc((100% - 1100px) / 2);
  border-bottom: 1px solid var(--gray-300);
  background-color: white;
}
@media (max-width: 1199px) {
  .header {
    padding: 8px max(calc((100% - 1100px) / 2), 24px);
  }
}
@media (max-width: 767px) {
  .header {
    padding: 8px 16px;
  }
}

.header__logo {
  width: 153px;
}

.header__loginButton {
  padding: 8px 32px;
  background-color: var(--blue-100);
  border: none;
  color: var(--gray-100);
  border-radius: 8px;
}

.main {
  margin-top: 70px;
}

.banner {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 540px;
  background-color: #cfe5ff;
}
@media (max-width: 1199px) {
  .banner {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 350px;
  height: 290px;
}
@media (max-width: 1199px) {
  .banner__content {
    gap: 24px;
    width: 100%;
    height: fit-content;
    margin: 100px auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .banner__content {
    gap: 16px;
    width: 240px;
    margin: 50px auto 100px;
  }
}

.banner__title {
  font-weight: 600;
  font-size: var(--size-4xl);
  line-height: var(--line-4xl);
}
@media (max-width: 767px) {
  .banner__title {
    font-size: var(--size-3xl);
    line-height: var(--line-3xl);
  }
}

.banner__watchButton {
  width: 100%;
  padding: 12px 0;
  border-radius: 9999px;
  background-color: var(--blue-100);
  text-align: center;
  font-size: var(--size-xl);
  color: var(--gray-100);
}
@media (max-width: 1199px) {
  .banner__watchButton {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .banner__watchButton {
    width: 100%;
    padding: 8px 0;
    font-size: var(--size-2lg);
  }
}

.banner__image {
  width: 746px;
}
@media (max-width: 1199px) {
  .banner__image {
    width: 100%;
  }
}

.cardList {
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 280px;
}
@media (max-width: 1199px) {
  .cardList {
    padding: 64px 24px;
    gap: 64px;
  }
}
@media (max-width: 767px) {
  .cardList {
    padding: 32px 16px;
    gap: 32px;
  }
}

.card {
  display: flex;
  border-radius: 15px;
  background-color: var(--gray-10);
}
@media (max-width: 1199px) {
  .card {
    flex-direction: column;
    gap: 8px;
    background-color: initial;
  }
}

.card:nth-child(2n + 1) {
  margin-right: 180px;
  text-align: left;
}
@media (max-width: 1199px) {
  .card:nth-child(2n + 1) {
    margin-right: 0;
  }
}

.card:nth-child(2n) {
  flex-direction: row-reverse;
  margin-left: 180px;
  text-align: right;
}
@media (max-width: 1199px) {
  .card:nth-child(2n) {
    flex-direction: column;
    margin-left: 0;
  }
}

.card__image {
  width: 588px;
}
@media (max-width: 1199px) {
  .card__image {
    width: 100%;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 0 48px;
}
@media (max-width: 1199px) {
  .card__content {
    width: 100%;
    padding: 0;
  }
}

.card__keyword {
  margin-bottom: 16px;
  color: var(--blue-100);
  font-weight: 700;
  font-size: var(--size-2lg);
}
@media (max-width: 1199px) {
  .card__keyword {
    font-size: var(--size-lg);
  }
}
@media (max-width: 767px) {
  .card__keyword {
    margin-bottom: 8px;
  }
}

.card__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: var(--size-4xl);
  line-height: var(--line-4xl);
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 24px;
    font-size: var(--size-3xl);
    line-height: var(--line-3xl);
  }
}
@media (max-width: 767px) {
  .card__title {
    margin-bottom: 16px;
    font-size: var(--size-2xl);
    line-height: var(--line-2xl);
  }
}

.card__description {
  font-size: var(--size-2xl);
  line-height: var(--line-2xl);
}
@media (max-width: 1199px) {
  .card__description {
    font-size: var(--size-2lg);
    line-height: var(--line-2lg);
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 16px calc((100% - 1100px) / 2) 48px;
  background-color: #111827;
  font-size: var(--size-sm);
}
@media (max-width: 1199px) {
  .footer {
    padding: 16px max(calc((100% - 1100px) / 2), 24px) 48px;
  }
}
@media (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
  }
}

:is(.footer__address, .footer__support, .footer__social) {
  display: flex;
  align-items: center;
}

.footer__address {
  justify-content: left;
  color: var(--gray-400);
}
@media (max-width: 767px) {
  .footer__address {
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
    padding-top: 24px;
  }
}

.footer__support {
  justify-content: center;
  gap: 30px;
  color: var(--gray-200);
}
@media (max-width: 767px) {
  .footer__support {
    justify-content: left;
  }
}

.footer__social {
  justify-content: right;
  gap: 12px;
}

.footer__sns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
