@import url("/styles/common/variable.css");
@import url("/styles/common/global.css");

.body {
  color: var(--gray-800);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 40px;
}

.header__logo {
  width: 396px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 198px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .main {
    padding: 0 16px;
  }
}

.main__contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 640px;
}
@media (max-width: 767px) {
  .main__contentWrapper {
    width: min(100%, 400px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767px) {
  .form {
    gap: 16px;
  }
}

.formField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 767px) {
  .formField {
    gap: 8px;
  }
}

.formField__label {
  font-size: var(--size-2lg);
  font-weight: bold;
}
@media (max-width: 767px) {
  .formField__label {
    font-size: var(--size-md);
  }
}

.formField__input {
  display: block;
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray-100);
  border: 2px solid #00000000;
  outline: none;
  font-size: var(--size-lg);
}
@media (max-width: 767px) {
  .formField__label {
    font-size: var(--size-md);
  }
}

.formField__input::placeholder {
  color: var(--gray-400);
}

.formField__input:focus {
  border: 2px solid var(--blue-100);
}

.formField__toggleButton {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-24px, calc(((27px + 16px) / 2) - 50%));
}
@media (max-width: 767px) {
  .formField__toggleButton {
    transform: translate(-24px, calc(((21px + 8px) / 2) - 50%));
  }
}

.form__submitButton {
  padding: 13px 0;
  border-radius: 9999px;
  background-color: var(--gray-400);
  text-align: center;
  font-size: var(--size-xl);
  font-weight: 500;
  color: var(--gray-100);
}

.easyLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--blue-50);
  font-size: var(--size-lg);
}

.easyLogin__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.easyLogin__sns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.pageSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 24px;
  font-size: var(--size-md);
}

.pageSwitch__link {
  text-decoration-line: underline;
  color: var(--blue-100);
}
