/* login page & sign-in page */
/* login page & sign-in page - every fields & submit button */
.form {
    width: 640px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.field>label {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #1F2937;
}

.input {
    height: 56px;
    width: 100%;
    border-radius: 12px;
    padding: 16px 24px;
    background-color: #F3F4F6;
    border-width: 0px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #1F2937;

}

.input::placeholder {
    color: #9CA3AF;
}

.input:focus {
    border-width: 2px;
    border-color: #3692FF;
    outline: none;
}
/* warning 적용시의 스타일 */
.input-container.warning > .input {
    border-width: 2px;
    border-color: #F74747;
}

.input-container > .valid-msg {
    display: none;
}

.input-container.warning > .valid-msg {
    display: block;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* 심화과제: 인풋 필드 안에 눈 아이콘 넣기 */
.input-container{
    width: 100%;
    position: relative;
}

.input-container>.visibility-icon {
    position: absolute;
    right: 16px;
    top: 16px;
}

.valid-msg {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color:#F74747;
    padding:  0 0 0 16px;
}

#login-button,
#signup-button {
    padding: 12px 0;
    border-radius: 40px;
    background-color: #3692FF;
    border-width: 0px; 
    text-align: center;
    text-decoration: none;

    font-family: Pretendard, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #F3F4F6;
}

#login-button:disabled,
#signup-button:disabled {
    background-color: #9CA3AF;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* login page & sign-in page - sns login  */
.sns-login {
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
}

.sns-login>p {
    font-size: 16px;
    font-weight: 500;
    color: #1F2937;
}

.sns-login-imgs {
    display: flex;
    gap: 16px;
}

/* login page & sign-in page - ask login/signup  */
.ask-signup,
.ask-login {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
}

.ask-signup>a,
.ask-login>a {
    color:#3692FF;
    text-decoration: underline;
}

.login.main-content,
.sign-up.main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
}

/* 반응형: Tablet 에서 */
@media (max-width: 1199px) {
    /* pc와 동일 */
}

/* 반응형: Mobile 이하 에서 */
@media (max-width: 767px) {
    /* 로고 사이즈 바뀜 */
    .login.title>img,
    .sign-up.title>img {
        content: url("../assets/logo_md.svg");
    }
    /* 폼 사이즈 바뀜 */
    .form {
        width: 100%;
        max-width: 400px;
        padding: 0 16px;
    }

}