@import url('./variables.css');

* {
  box-sizing: border-box;
  font-family: var(--font-family1);
}

.login-background {
  background-color: var(--background-color0);
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-logo-box {
  width: 100%;
}

.form-box {
  width: 100%;
  }

form {
    width: 100%;
  }

.gohome {
  display: block;
  width: 100%;
  height: 100%;
}
 
.gohome img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

label {
  font-family: var(--font-family1);
  color: var(--secondary-color-gray800);
  display: block;
  width: 100%;
}

input {
  font-family: var(--font-family1);
  background-color: var(--secondary-color-gray100);
  outline: none;
  border: none;
  width: 100%;
}

.error-message {
  color:var(--error-color);
}

.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 18px;
}

button {
  color: var(--secondary-color-gray100);
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width:100%;
}

.button-off {
  background-color: var(--secondary-color-gray400);
}

.button-on {
  background-color: var(--primary-color100);
}

button.active {
  background-color: var(--primary-color100); 
  cursor: pointer;
}


.social-login-box {
  background-color: #e6f2ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
 

.social-login {
  text-decoration: none;
}


input:focus {
  border: 2px solid var(--primary-color100); 
}

input.error-border {
  border: 2px solid var(--error-color); 
}

@media (min-width: 767px) {

  .login-container {
    width:640px;
    margin-top: 48px;
    margin-bottom: 231px;
  }

  .login-logo-box {
    height: 132px;
  }

  label {
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 12px;
    height: 56px;
    padding: 15px 24px 15px 24px ;
  }

  button {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 40px;
    margin-top: 24px;
    padding: 16px 124px;
  }

  .social-login-box {
    border-radius: 8px;
    height: 74px;
    padding: 16px 23px;
    margin-top: 24px;
  }

  .sign-up-login {
    margin-top: 24px;
  }

}

@media (min-width: 375px) and (max-width: 766px)  {

  .login-container {
    max-width: 400px;
    margin-top: 24px;
    margin-bottom: 231px;
  }

  .login-logo-box {
    height: 80px;
    margin: 20px;
  }

  label {
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  input {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 12px;
    height: 56px;
    padding: 15px 24px;
  }

  button {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 40px;
    margin-top: 16px;
    padding: 12px 100px;
  }

  .social-login-box {
    border-radius: 8px;
    height: 74px;
    padding: 16px 23px;
    margin-top: 24px;
  }

  .sign-up-login {
    margin-top: 24px;
  }

}