/* 반응형 설계
    PC(기본): 1200px 이상
    Tablet: 768px 이상 1199px 이하
    Mobile: 375px 이상 767px 이하
    375px 미만은 고려x */

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: Pretendard, sans-serif;

    background-color: #ffffff;
}

/* main page */
/* main page - header */
.header {
    position: fixed;
    top: 0;
    z-index: 1030;

    height: 70px;
    width: 100%;
    max-width: 1920px;
    background-color: #ffffff;

    padding: 5px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    padding: 12px 23px;
    border-radius: 8px;
    background-color: #3692FF;
    color: #F3F4F6;
    text-decoration: none;

    cursor:pointer;
}

/* main page - top banner */
.top-banner {
    margin-top: 70px;

    background-color: #CFE5FF;
    height: 540px;
    
    background-image: url("../assets/Img_home_top.svg");
    background-repeat: no-repeat;
    background-position: 75% 100%;

    position: relative;
}

.top-banner-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    bottom: 80px;
    left: 15%;
    top:auto;
    right: auto;
}

.top-banner-text>p {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 56px;
    margin: 0;
}

.top-banner-contents>a {
    font-size: 20px;
    line-height: 32px;
    padding: 16px 124px;
    border-radius: 40px;
    background-color: #3692FF;
    color: #F3F4F6;
    text-decoration: none;
    margin-top: 32px;

    cursor:pointer;
}

/* main page - main content */
.main-content>section {
    height: 720px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content>section.odd {
    margin-left: -100px;
}

.main-content>section.even {
    margin-right: -100px;
}

.card {
    /* 카드 width 지정.
    다만 설명이 줄내림 되지않게 더 늘어날수도 있게 함 */
    min-width: 955px;
    background-color: #FCFCFC;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
}

/* 
.main-content:nth-child(2)> {
    flex-direction: row-reverse;
} 
    
위 방법으로 구현하고자 했으나(본문 카드 추가시 수정용이함)
예상과 다르게 짝수번째 카드 선택이 안됨
부모태그의 자식중에 2번째를 고르는거라 card가 아니라 section 태그를 선택하는것을 확인
-> 카드에 odd even 클래스값 주는것으로 변경.. */

.card.odd {
    flex-direction: row;
}

.card.even {
    flex-direction: row-reverse;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text.odd>.card-header,
.card-text.odd>.card-title,
.card-text.odd>.card-explain {
    text-align: left;
}

.card-text.even>.card-header,
.card-text.even>.card-title,
.card-text.even>.card-explain {
    text-align: right;
}

.card-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #3692FF;
    margin: 0;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin: 12px 0 24px 0;
}

.card-explain {

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
    margin: 0;
}

/* main page - bottom banner */
.bottom-banner {
    background-color: #CFE5FF;
    height: 540px;

    background-image: url("../assets/Img_home_bottom.svg");
    background-repeat: no-repeat;
    background-position: 75% 100%;

    position: relative;
}

.bottom-banner-text {
    position: absolute;
    top: 270px;
    left: 15%;

    gap: 10px;

}
.bottom-banner-text>p {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #374151;
    margin: 0;
}

/* main page - footer */
.footer {
    background-color: #111827;
    height: 160px;
    width: 100%;
    max-width: 1920px;
    padding: 32px 200px;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.footer-content>.copy-right {
    color: #9CA3AF;
}

.footer-content>.menu {
    display: flex;
    gap: 30px;
}
.footer-content>.menu>a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer-content>.icons {
    display: flex;
    gap:12px;
}
