
/* 반응형: Mobile 이하 에서 */
@media (max-width: 767px) {
    /* header */
    .header {
        padding: 5px 16px;
    }
    
    .header-typo>img {
        /* 모바일 버전에서 로고 바뀜 */
        content: url(../assets/logo_text.svg);
    }

    /* top banner */
    .top-banner {
        height: 540px;
        background-size: 450px auto;
    }
    .top-banner-contents {
        top: 48px;
    }
    .top-banner-text {
        flex-direction: column;
        gap: 0;

    }
    .top-banner-text>p {
        font-size: 32px;
        line-height: 44.8px;
        text-align: center;
    }
    .top-banner-contents>a {
        margin-top: 18px;
        /* 구경하러가기 버튼 사이즈 변경 */
        font-size: 18px;
        line-height: 26px;
        padding: 12px 71px;
        white-space: nowrap;
    }

    /* main-content */
    .main-content {
    
        gap: 40px;
        padding: 60px 0 80px 0;
    }

    .card {
        width: 344px;
        min-width: auto;
    }
    
    .card-image {
        height: 259px;
    }
    
    .card-header {
        font-size: 16px;
    }
    
    .card-title {
        font-size: 24px;
        line-height: 32px;
        margin: 8px 0 16px 0;
    }
    
    .card-explain {
        font-size: 16px;
    }

    /* bottom banner */
    .bottom-banner {
        height: 540px;
        background-size:  450px auto;

    }
    
    .bottom-banner-text {
        top: 120px;

    
    }
    .bottom-banner-text>p {
        font-size: 32px;
        line-height: 44.8px;
        white-space: nowrap;
    }
    
    /* main page - footer */
    .footer {
        padding: 32px 30px;
    }
 
    .footer-content>.menu {
        gap: 10px; 
    }

} 
