/* 반응형 설계
    PC(기본): 1200px 이상
    Tablet: 768px 이상 1199px 이하
    Mobile: 375px 이상 767px 이하
    375px 미만은 고려x */

* {
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: Pretendard, sans-serif;

    background-color: #ffffff;
}

/* main page */
/* main page - header */
.header {
    position: fixed;
    top: 0;
    z-index: 1030;

    height: 70px;
    width: 100%;
    max-width: 1920px;
    background-color: #ffffff;

    padding: 5px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    padding: 12px 23px;
    border-radius: 8px;
    background-color: #3692FF;
    color: #F3F4F6;
    text-decoration: none;

    cursor:pointer;
}

/* main page - top banner */
.top-banner {
    margin-top: 70px;

    background-color: #CFE5FF;
    height: 540px;
    
    background-image: url("../assets/Img_home_top.svg");
    background-repeat: no-repeat;
    background-position: 75% 100%;

    position: relative;
}

.top-banner-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    bottom: 80px;
    left: 15%;
    top:auto;
    right: auto;
}

.top-banner-text>p {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 56px;
    margin: 0;
    white-space: pre-line;
}

.top-banner-contents>a {
    font-size: 20px;
    line-height: 32px;
    padding: 16px 124px;
    border-radius: 40px;
    background-color: #3692FF;
    color: #F3F4F6;
    text-decoration: none;
    margin-top: 32px;

    cursor:pointer;
}

/* main page - main content */
.main-content>section {
    height: 720px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content>section.odd {
    margin-left: -100px;
}

.main-content>section.even {
    margin-right: -100px;
}

.card {
    /* 카드 width 지정.
    다만 설명이 줄내림 되지않게 더 늘어날수도 있게 함 */
    min-width: 955px;
    background-color: #FCFCFC;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
}

.card.odd {
    flex-direction: row;
}

.card.even {
    flex-direction: row-reverse;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text.odd>.card-header,
.card-text.odd>.card-title,
.card-text.odd>.card-explain {
    text-align: left;
}

.card-text.even>.card-header,
.card-text.even>.card-title,
.card-text.even>.card-explain {
    text-align: right;
}

.card-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #3692FF;
    margin: 0;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin: 12px 0 24px 0;
}

.card-explain {

    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
    margin: 0;
}

/* main page - bottom banner */
.bottom-banner {
    background-color: #CFE5FF;
    height: 540px;

    background-image: url("../assets/Img_home_bottom.svg");
    background-repeat: no-repeat;
    background-position: 75% 100%;

    position: relative;
}

.bottom-banner-text {
    position: absolute;
    top: 270px;
    left: 15%;

    gap: 10px;

}
.bottom-banner-text>p {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #374151;
    margin: 0;
    white-space: pre-line;
}

/* main page - footer */
.footer {
    background-color: #111827;
    height: 160px;
    width: 100%;
    max-width: 1920px;
    padding: 32px 200px;
}

.footer-content {
    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
}

.footer-content>.copy-right {
    color: #9CA3AF;
}

.footer-content>.menu {
    display: flex;
    gap: 30px;
}
.footer-content>.menu>a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer-content>.icons {
    display: flex;
    gap:12px;
}


/* 반응형: Tablet 에서 */
@media (max-width: 1199px) {
    /* main page - header */
    .header {
        padding: 5px 24px;
    }

    /* main page - top banner */
    .top-banner {
        height: 744px;

        background-position: 50% 100%;
        background-size: 740px auto;
    }
    .top-banner-contents {
        /* 중앙배치 & pc버전 설정값 지우기 */
        position: absolute;
        top: 84px;
        left: 50%; 
        bottom: auto;
        right: auto;
        transform: translate(-50%, 0);

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .top-banner-text {
        display: flex;
        justify-content: center;
        gap: 8px;

    }
    .top-banner-text>p {
        white-space: nowrap;
    }
    .top-banner-contents>a {
        margin-top: 24px;
    }

    /* main page - main content */
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 52px;
        padding: 30px 0 60px 0;
    }

    .main-content>section {
        height: auto;
        width: 100%;
    }
    
    .main-content>section.odd {
        margin-left: 0;
    }
    
    .main-content>section.even {
        margin-right: 0;
    }
    .card {
        width: 696px;
        min-width: auto;
    }
    
    .card.odd {
        flex-direction: column;
        gap: 24px;
        align-items:flex-start;
    }
    
    .card.even {
        flex-direction: column;
        gap: 24px;
        align-items:flex-end;
    }
    .card-image {
        height: 524px;
    }

    .card-title {
        font-size: 32px;
        line-height: 42px;
        margin: 16px 0 24px 0;
    }
    
    .card-explain {
        font-size: 18px;
        line-height: 26px;
    }
    
    /* main page - bottom banner */
    .bottom-banner {
        height: 927px;
        background-position: 50% 100%;
        background-size:  740px auto;
    }
    
    .bottom-banner-text {
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: auto;
        right: auto;
    }
    .bottom-banner-text>p {
        text-align: center;
    }
     
    /* main page - footer */
    .footer {
        padding: 32px 100px;
    }
    

}


/* 반응형: Mobile 이하 에서 */
@media (max-width: 767px) {
    /* header */
    .header {
        padding: 5px 16px;
    }
    
    .header-typo>img {
        /* 모바일 버전에서 로고 바뀜 */
        content: url(../assets/logo_text.svg);
    }

    /* top banner */
    .top-banner {
        height: 540px;
        background-size: 450px auto;
    }
    .top-banner-contents {
        top: 48px;
    }
    .top-banner-text {
        flex-direction: column;
        gap: 0;

    }
    .top-banner-text>p {
        font-size: 32px;
        line-height: 44.8px;
        text-align: center;
        white-space: pre-line;
    }
    .top-banner-contents>a {
        margin-top: 18px;
        /* 구경하러가기 버튼 사이즈 변경 */
        font-size: 18px;
        line-height: 26px;
        padding: 12px 71px;
        white-space: nowrap;
    }

    /* main-content */
    .main-content {
    
        gap: 40px;
        padding: 60px 0 80px 0;
    }

    .card {
        width: 344px;
        min-width: auto;
    }
    
    .card-image {
        height: 259px;
    }
    
    .card-header {
        font-size: 16px;
    }
    
    .card-title {
        font-size: 24px;
        line-height: 32px;
        margin: 8px 0 16px 0;
    }
    
    .card-explain {
        font-size: 16px;
    }

    /* bottom banner */
    .bottom-banner {
        height: 540px;
        background-size:  450px auto;

    }
    
    .bottom-banner-text {
        top: 120px;

    
    }
    .bottom-banner-text>p {
        font-size: 32px;
        line-height: 44.8px;
    }
    
    /* main page - footer */
    .footer {
        padding: 32px 30px;
    }
 
    .footer-content>.menu {
        gap: 10px; 
    }

} 
